// Copyright 2024, Command Line Inc.
// SPDX-License-Identifier: Apache-2.0

@base-color: #eceeec;
@base-background: rgba(21, 23, 21, 1);
@base-background-transparent: rgba(15, 17, 15, 0.7);
@base-background-dev: rgba(21, 23, 48, 1);
@base-border: rgba(241, 246, 243, 0.08);
@background-session: rgba(13, 13, 13, 0.85);
@background-session-components: rgba(48, 49, 48, 0.6);
@background-session-components-solid: rgb(33, 34, 33);
@wave-green: rgb(88, 193, 66);
@disabled-background: rgba(76, 81, 75, 1);
@disabled-color: #adadad;
@scrollbar-background: rgba(21, 23, 21, 1);
@scrollbar-thumb: rgb(134, 134, 134);
@button-background: rgb(38, 38, 38);
@button-disabled-background: rgb(30, 29, 29);
@success-green: rgb(38, 97, 26);
@error-red: #cc0000;
@error-red-brightened: #ff8888;
@warning-yellow: #ffa500;
@textarea-background: #171717;

@text-primary: #fff;
@text-secondary: #c3c8c2;
@text-caption: #8b918a;

@accent-color: #3b3f3a;

@status-outline: #151715;
@dropdown-menu: rgba(21, 23, 21, 1);

@status-connected: #46a758;
@status-connecting: #f5d90a;
@status-error: #e54d2e;
@status-disconnected: #c3c8c2;

@term-black: #000000;
@term-red: #cc0000;
@term-green: #4e9a06;
@term-yellow: #c4a000;
@term-blue: #3465a4;
@term-magenta: #75507b;
@term-cyan: #06989a;
@term-white: #d3d7cf;
@term-bright-black: #555753;
@term-bright-red: #ef2929;
@term-bright-green: #58c142;
@term-bright-yellow: #fce94f;
@term-bright-blue: #32afff;
@term-bright-magenta: #ad7fa8;
@term-bright-cyan: #34e2e2;
@term-bright-white: #ffffff;

@tab-red: #e54d2e;
@tab-orange: #ef713b;
@tab-yellow: #e0b956;
@tab-green: #58c142;
@tab-mint: #4bffa9;
@tab-cyan: #4bdfff;
@tab-blue: #3971ff;
@tab-violet: #ba76ff;
@tab-pink: #e05677;
@tab-white: #ffffff;

@tab-black-text: #333;
@tab-white-text: #d7d7d7;

@soft-blue: #729fcf;

@active-menu-color: rgb(0, 71, 171);

// @font-face declaration lives in app.less
@fixed-font: "Martian Mono", sans-serif;
@terminal-font: "JetBrains Mono", sans-serif;

@text-s1-font: "Martian Mono", sans-serif;

// to match Github
@markdown-font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
@markdown-highlight: rgb(35, 35, 35);

@thin-border-color: #333;
@main-content-bottom-background: #333;

:root {
    --app-accent-color: rgb(88, 193, 66);
    --app-error-color: rgb(204, 0, 0);
    --app-warning-color: rgb(255, 165, 0);
    --app-scrollbar-thumb-color: rgb(134, 134, 134);

    --app-text-color: rgb(236, 238, 236);

    --app-border-color: rgb(51, 51, 51);

    --tab-red: rgb(229, 77, 46);

    --tab-orange: rgb(239, 113, 59);
    --tab-yellow: rgb(224, 185, 86);
    --tab-green: rgb(88, 193, 66);
    --tab-mint: rgb(75, 255, 169);
    --tab-cyan: rgb(75, 223, 255);
    --tab-blue: rgb(57, 113, 255);
    --tab-violet: rgb(186, 118, 255);
    --tab-pink: rgb(224, 86, 119);
    --tab-white: rgb(255, 255, 255);

    --button-text-color: rgb(255, 255, 255);
    --button-primary-bg-color: rgb(78, 154, 6);

    --checkbox-text-color: rgb(255, 255, 255);
    --checkbox-bg-color: rgb(78, 154, 6);
    --checkbox-check-color: rgb(255, 255, 255);

    --dropdown-text-color: rgb(211, 215, 207);
    --dropdown-error-color: rgb(229, 77, 46);
    --dropdown-focus-color: rgb(78, 154, 6);

    --textfield-focused-border-color: rgb(78, 154, 6);
    --textfield-error-border-color: rgb(229, 77, 46);
    --textfield-label-color: rgb(195, 200, 194);
    --textfield-text-color: rgb(255, 255, 255);

    --toggle-bg-color: rgb(51, 51, 51);
    --toggle-thumb-color: rgb(211, 215, 207);
    --toggle-checked-bg-color: rgb(78, 154, 6);

    --cmdstrcode-bg-color: rgb(0, 0, 0);
    --cmdstrcode-text-color: rgb(211, 215, 207);

    --markdown-bg-color: rgb(35, 35, 35);
    --markdown-outline-color: rgb(78, 154, 6);

    --status-connected-color: rgb(70, 167, 88);
    --status-connecting-color: rgb(245, 217, 10);
    --status-error-color: rgb(229, 77, 46);
    --status-disconnected-color: rgb(195, 200, 194);

    --status-indicator-color: rgb(211, 215, 207);
    --status-indicator-error: rgb(204, 0, 0);
    --status-indicator-success: rgb(78, 154, 6);

    --sidebar-dev-bg-color: rgb(21, 23, 48);
    --sidebar-settings-color: rgb(255, 255, 255);

    --line-text-color: rgb(211, 215, 207);
    --line-selected-error-bg-color: rgb(19, 4, 3);
    --line-selected-border-left-color: rgb(204, 204, 204);
    --line-sidebar-message-color: rgb(196, 160, 0);

    --term-error-color: rgb(204, 0, 0);

    --bookmarks-text-color: rgb(211, 215, 207);
    --bookmarks-textarea-bg-color: rgb(0, 0, 0);
    --bookmarks-disabled-text-color: rgb(173, 173, 173);
    --bookmarks-control-hover-color: rgb(255, 255, 255);

    --client-settings-error-color: rgb(204, 0, 0);
}
