version: 2
updates:
    - package-ecosystem: "npm"
      directory: "/"
      schedule:
          interval: "daily"
    - package-ecosystem: "gomod"
      directory: "/"
      schedule:
          interval: "daily"
    - package-ecosystem: "github-actions"
      directory: "/.github/workflows"
      schedule:
          interval: "daily"
