root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{js,jsx,ts,tsx,cjs,json,yml,yaml,css,less,scss}]
charset = utf-8
indent_style = space
indent_size = 4

[CNAME]
insert_final_newline = false
