dist/
dist-dev/
node_modules/
*~
*.log
*.out
out/
.DS_Store
bin/
waveshell/bin/
wavesrv/bin/
dev-bin
local-server-bin
*.pw
build/
*.dmg
webshare/dist/
webshare/dist-dev/
temp.sql
.idea/
test/
.vscode/
make/
waveterm-builds.zip

# Yarn Modern
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions