.task
frontend/dist
dist/
frontend/node_modules
node_modules/
frontend/bindings
bindings/
*.log
bin/
*.dmg
*.exe
.DS_Store
*~

# Yarn Modern
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions


*storybook.log

test-results.xml
