// Copyright 2024, Command Line Inc.
// SPDX-License-Identifier: Apache-2.0

.view-term {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .term-header {
        display: flex;
        flex-direction: row;
        padding: 4px 10px;
        height: 35px;
        gap: 10px;
        align-items: center;
        flex-shrink: 0;
        border-bottom: 1px solid var(--border-color);
    }

    .term-connectelem {
        flex-grow: 1;
        min-height: 0;
        overflow: hidden;
    }
}

.view-preview {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    overflow: hidden;
    align-items: center;
    justify-content: center;

    &.view-preview-markdown {
        align-items: start;
        justify-content: start;
        overflow: auto;
    }

    &.view-preview-text {
        align-items: start;
        justify-content: start;
        overflow: auto;

        pre {
            font: var(--fixed-font);
        }
    }

    &.view-preview-image,
    &.view-preview-video,
    &.view-preview-audio {
        video,
        audio,
        img {
            width: 100%;
            padding: 10px;
            object-fit: contain;
        }
    }
    &.view-preview-directory {
        flex-direction: column;
        align-items: start;
    }
}
