@import "@/common/themes/themes.less";

.line {
    margin: 0 10px 0 0;
    padding: var(--termpad) var(--termpad) calc(var(--termpad) + 1px) calc(var(--termpad) * 2);
    display: flex;
    overflow: hidden;
    flex-shrink: 0;
    position: relative;
    font-weight: normal;
    font-family: var(--termfontfamily);

    &.line-cmd {
        flex-direction: column;
        scroll-margin-bottom: 20px;
        position: relative;
    }

    &.line-text {
        // old formatting for text lines (requires override)
        flex-direction: row;
        padding-top: 5px;

        .line-content {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            margin-left: 10px;
        }
    }

    &.line-invalid {
        color: @term-white;
        margin-left: 5px;
    }

    &.selected {
        .line-mask {
            border-left: 4px solid var(--line-selected-border-left-color);
        }

        &.has-error {
            .line-mask {
                border-left: 4px solid var(--line-selected-error-border-color);
            }
        }
    }

    &.active.selected {
        .line-mask {
            background-color: var(--line-selected-bg-color);
            border: 2px solid var(--line-active-border-color);
            border-left: 4px solid var(--line-active-border-color);
        }

        &.has-error {
            .line-mask {
                border: 2px solid var(--line-selected-error-border-color);
                border-left: 4px solid var(--line-selected-error-border-color);
            }
        }
    }

    .line-mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        z-index: 10;
        pointer-events: none;

        &.error-mask {
            background-color: var(--line-error-bg-color);
            border-left: 4px solid var(--line-error-border-left-color);
        }
    }

    .load-error-text {
        color: @term-red;
        padding-top: 5px;
    }

    .renderer-loading {
        padding-top: 5px;
    }

    .sidebar-message {
        color: @term-yellow;
    }

    .focus-indicator {
        height: calc(100% - 7px);
        top: 5px;
    }

    &.line-simple {
        font-size: 11px;
        line-height: 1.2;
        color: rgba(@base-color, 0.6);

        .simple-line-header {
            display: flex;
            margin-top: 5px;
            flex-direction: row;
        }

        .ts {
            display: flex;
        }
    }

    .simple-line-status {
        .linenum {
            cursor: pointer;
        }

        .avatar {
            display: inline-block;
            height: 1em;
            margin-left: 0.5em;
            margin-right: 0.5em;
            vertical-align: text-top;
            fill: @base-color;
        }

        .success {
            color: @wave-green;
            fill: @wave-green;
        }

        .fail {
            color: @error-red;
            fill: @error-red;
        }

        .warning {
            color: @warning-yellow;
            fill: @warning-yellow;
        }
    }

    &.top-border {
        border-top: 1px solid #777;
        padding: 10px;
    }

    &:hover .meta .termopts {
        display: block;
    }

    &:hover .meta .settings {
        display: block;
    }

    .line-header {
        display: flex;
        flex-direction: row;
        width: 100%;
        font-weight: normal;
        font-family: var(--termfontfamily);
        font-size: var(--termfontsize);
        line-height: var(--termlineheight);

        &.is-expanded {
            height: auto;
        }

        .line-icon {
            display: block;
            visibility: hidden;
            cursor: pointer;
            padding: 3px;
            border-radius: 50%;
        }

        .line-icon-show {
            visibility: visible;
        }

        .line-icon + .line-icon {
            margin-left: 5px;
        }

        .line-icon.active {
            visibility: visible;
            display: block;
        }

        &:hover .line-icon {
            visibility: visible;
            display: block;
            opacity: 1;
        }

        .meta.meta-line1 {
            color: var(--line-meta-text-color);
        }

        .meta.meta-line2 {
            margin-left: -2px;
        }
    }

    .line-header + div:not(.zero-height) {
        margin-top: var(--termpad);
    }

    .meta-wrap {
        flex: 1 1 0px;
        min-width: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .meta {
        display: flex;
        flex-direction: row;

        .user {
            color: lighten(@soft-blue, 10%);
            font-weight: bold;
            margin-top: 1px;
            margin-right: 10px;
        }

        .ts,
        .termopts,
        .renderer {
            display: flex;
        }

        .renderer {
            margin-left: 3px;
            svg {
                width: 1em;
                margin-right: 0.5em;
                fill: rgba(@base-color, 0.6);
            }
        }

        .settings {
            display: none;
            margin-left: 0.5em;
            cursor: pointer;
            width: 1em;
            height: 1em;
            border-radius: 50%;
            line-height: 1em;
            svg {
                fill: rgba(@base-color, 0.6);
                &:hover {
                    fill: @base-color;
                }
            }
        }

        .termopts {
            display: none;
            .resize-button {
                cursor: pointer;
                padding-left: 3px;
                padding-right: 3px;
            }
        }

        .metapart-mono {
            margin-left: 8px;
            white-space: nowrap;
        }

        .cmdtext {
            overflow: hidden;
            margin-left: 0;
        }

        .cmdtext-overflow {
            flex-shrink: 0;
            padding-right: 2px;
            color: @term-white;
            cursor: pointer;
        }
    }

    .cmdtext-expanded-wrapper {
        padding-left: 6px;
        overflow-y: auto;
        max-height: 60px;
        border-left: 2px solid #333;
        margin-left: 3px;

        .cmdtext-expanded {
            white-space: pre;

            color: @term-white;
            padding-bottom: 5px;
        }
    }

    .cmd-hints {
        position: absolute;
        bottom: 0px;
        right: 0px;
        display: none;

        .hint-item {
            border-radius: 3px;
        }
    }

    .image-wrapper {
        .loading-div {
            height: 20px;
            margin-left: 50px;
        }
    }

    &.has-rtnstate .terminal-wrapper {
        padding-bottom: 0;
    }

    .terminal-wrapper {
        line-height: normal;

        &.zero-height {
            padding: 0;
            margin: 0;
        }

        .terminal-connectelem {
            overflow-y: hidden;
            overflow-x: hidden;
        }

        &.cmd-done .terminal .xterm-cursor {
            display: none;
        }

        .terminal-loading-message {
            position: absolute;
            top: calc(40% - 8px);
            left: 50px;
            height: 20px;
        }
    }

    .cmd-rtnstate {
        position: relative;

        .cmd-rtnstate-label {
            font-family: var(--termfontfamily);
            position: relative;
            font-size: 10px;
            z-index: 2;
            margin: 6px 0 2px 10px;
            padding: 2px 5px 0px 5px;
            display: inline-block;
            font-size: 10px;
            color: @term-white;
            background-color: #151715;
        }

        .cmd-rtnstate-diff {
            font-family: var(--termfontfamily);
            color: @term-white;
            white-space: pre;
            margin-left: 10px;
            padding-left: 10px;
            padding-bottom: 1px;
            font-size: 11px;
            line-height: 1.2;
            max-height: 50px;
            overflow-y: auto;
            direction: rtl;

            .cmd-rtnstate-diff-inner {
                direction: ltr;
            }
        }

        .cmd-rtnstate-sep {
            height: 1px;
            border-bottom: 1px solid #333;
            position: relative;
            top: -10px;
            width: min(300px, 50%);
            margin-bottom: -4px;
        }
    }
}
