@import "@/common/themes/themes.less";

.lines {
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 0 0 10px 0;
    flex-grow: 1;
    position: relative;
    overflow-x: hidden;

    &::-webkit-scrollbar-thumb {
        background-color: transparent !important;
    }
    &::-webkit-scrollbar-track {
        background-color: transparent !important;
    }

    &:hover,
    &:focus,
    &:focus-within {
        &::-webkit-scrollbar-thumb {
            background-color: @scrollbar-thumb !important;
        }
    }

    .line:nth-child(2) {
        padding-top: 1px;
    }

    .lines-spacer {
        flex-grow: 1;
    }

    .line-sep {
        display: flex;
        align-items: center;
        margin-top: 1em;
        color: rgba(@base-color, 0.5);
    }

    .line-sep::before,
    .line-sep::after {
        content: "";
        height: 1px;
        flex-grow: 1;
        background-color: rgba(@base-color, 0.5);
    }

    .line-sep::before {
        margin-right: 1rem;
    }

    .line-sep::after {
        margin-left: 1rem;
    }
}
