@import "../../index.less";

.main-sidebar {
    padding: 0;
    width: 200px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: width 0.2s ease;

    .arrow-container {
        position: absolute;
        top: 8px;
        right: 16px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        transition: transform 0.3s ease-in-out;
    }

    .top {
        margin-top: 32px;
    }

    .separator {
        height: 1px;
        margin: 16px 0;
        background-color: @base-border;
    }

    .bottom {
        position: absolute;
        bottom: 6px;
        left: 0;
        width: 100%;
    }

    .item {
        padding: 6px;
        margin: 0 6px;
        border-radius: 4px;
        opacity: 1;
        visibility: visible;
        transition: opacity 0.1s ease-in-out, visibility 0.1s step-end;
        .icon {
            margin: 0 8px 0 6px;
            vertical-align: middle;
        }
        .hotkey {
            float: right;
            margin-right: 6px;
            visibility: hidden;
            letter-spacing: 6px;
        }
        &:hover .hotkey {
            visibility: visible;
        }
        .add_workspace {
            float: right;
            width: 20px;
            height: 20px;
            padding: 2px;
            margin-right: 6px;
            border-radius: 50%;
            transition: transform 0.3s ease-in-out;
            vertical-align: middle;
        }
    }

    .menu-label {
        color: @base-color;
    }

    .menu-list {
        li.menu-history,
        li.menu-bookmarks,
        li.menu-settings,
        li.menu-websharing {
            margin-left: -10px;
        }

        li.menu-bookmarks {
            margin-left: -10px;
        }

        li {
            .hotkey {
                visibility: hidden;
            }

            &:hover .hotkey {
                visibility: visible;
            }
        }
    }

    .menu-list.session-menu-list {
        li a {
            display: flex;
            flex-direction: row;
            align-items: center;

            .session-num {
                width: 24px;
                margin-left: -12px;
            }

            .session-gear {
                visibility: hidden;
            }

            &:hover .session-gear {
                color: @term-white;
                visibility: visible;

                &:hover {
                    color: @term-white;
                }
            }
        }
    }

    .menu-list.remotes-menu-list {
        max-height: 35%;
        overflow-y: auto;
    }

    .menu-list li.remote-menu-item {
        a {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .menu-list li a {
        white-space: nowrap;
        padding: 3px 5px 3px 12px;
        vertical-align: middle;
        position: relative;

        .user-status {
            position: absolute !important;
            top: 24px !important;
            left: 32px !important;
        }

        .avatar {
            width: 24px;
            height: 24px;
            margin-right: 5px;
            vertical-align: middle;
        }

        &.is-active .small-text {
            color: @term-white;
        }

        &.is-active {
            font-weight: bold;
            background-color: @active-menu-color;

            .session-num {
                font-weight: normal;
            }
        }

        .sub-label {
            font-style: italic;
        }

        &.activity {
            font-weight: bold;

            .tag {
                margin-left: 4px;
                padding: 0 5px 0 5px;
                position: relative;
                top: -1px;
            }
        }

        .status {
            margin-right: 5px;
            position: relative;
            top: -3px;
        }
    }
}

.main-sidebar.collapsed {
    width: 50px;
    .arrow-container {
        transform: rotate(180deg);
    }
    .item {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.1s ease-in-out, visibility 0.1s step-start;
    }
}

.menu-list .remote-status.status-connecting {
    position: relative;
    top: 0px;
    margin-left: -3px;
}
