@import "../../index.less";

.main-sidebar .logo-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 2px solid #ddd;
    margin-left: -4px;
    margin-right: -5px;
}

.main-sidebar {
    border-right: 1px solid #aaa;
    padding: 0 5px 5px 5px;
    width: 200px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    flex-shrink: 0;

    .menu {
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        height: 100%;

        .spacer {
            flex-grow: 1;
        }

        .bottom-spacer {
            height: 10px;
        }

        a:hover {
            color: @term-white;
        }
    }

    .menu-label {
        color: @base-color;
    }

    .menu-list {
        li.menu-history,
        li.menu-bookmarks,
        li.menu-settings,
        li.menu-websharing {
            margin-left: -10px;
        }

        li.menu-bookmarks {
            margin-left: -10px;
        }

        li {
            .hotkey {
                visibility: hidden;
            }

            &:hover .hotkey {
                visibility: visible;
            }
        }
    }

    .menu-list.session-menu-list {
        li a {
            display: flex;
            flex-direction: row;
            align-items: center;

            .session-num {
                width: 24px;
                margin-left: -12px;
            }

            .session-gear {
                visibility: hidden;
            }

            &:hover .session-gear {
                color: @term-white;
                visibility: visible;

                &:hover {
                    color: @term-white;
                }
            }
        }
    }

    .menu-list.remotes-menu-list {
        max-height: 35%;
        overflow-y: auto;
    }

    .menu-list li.remote-menu-item {
        a {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .menu-list li a {
        white-space: nowrap;
        padding: 3px 5px 3px 12px;
        vertical-align: middle;
        position: relative;

        .user-status {
            position: absolute !important;
            top: 24px !important;
            left: 32px !important;
        }

        .avatar {
            width: 24px;
            height: 24px;
            margin-right: 5px;
            vertical-align: middle;
        }

        &.is-active .small-text {
            color: @term-white;
        }

        &.is-active {
            font-weight: bold;
            background-color: @active-menu-color;

            .session-num {
                font-weight: normal;
            }
        }

        .sub-label {
            font-style: italic;
        }

        &.activity {
            font-weight: bold;

            .tag {
                margin-left: 4px;
                padding: 0 5px 0 5px;
                position: relative;
                top: -1px;
            }
        }

        &.is-active:hover {
        }

        &:hover {
        }

        .status {
            margin-right: 5px;
            position: relative;
            top: -3px;
        }
    }

    &.collapsed {
        width: 55px;

        .collapse-container {
            right: 17px;
        }

        .menu {
            display: none;
        }
    }

    .collapse-container {
        position: absolute;
        right: 3px;
        top: 42px;

        .arrow-container {
            padding: 5px;
            cursor: pointer;
        }
    }
}
.is-dev .main-sidebar {
    background: @base-background-dev;
}

.menu-list .remote-status.status-connecting {
    position: relative;
    top: 0px;

    margin-left: -3px;
}
