// Copyright 2024, Command Line Inc.
// SPDX-License-Identifier: Apache-2.0

@mixin ellipsis() {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin avatar-dims-mixin() {
    &.size-xs {
        width: 20px;
        height: 20px;
        font-size: 7px; // 18px * (20 / 50)

        .status-indicator {
            width: 5px; // scaled indicator size
            height: 5px;
        }
    }

    &.size-sm {
        width: 30px;
        height: 30px;
        font-size: 11px; // 18px * (30 / 50)

        .status-indicator {
            width: 7px;
            height: 7px;
        }
    }

    &.size-md {
        width: 40px;
        height: 40px;
        font-size: 14px; // 18px * (40 / 50)

        .status-indicator {
            width: 9px;
            height: 9px;
        }
    }

    &.size-lg {
        width: 45px;
        height: 45px;
        font-size: 16px; // 18px * (45 / 50)

        .status-indicator {
            width: 10px;
            height: 10px;
        }
    }

    &.size-xl {
        width: 50px;
        height: 50px;
        font-size: 18px; // base size

        .status-indicator {
            width: 12px;
            height: 12px;
        }
    }
}
