// Copyright 2024, Command Line Inc.
// SPDX-License-Identifier: Apache-2.0

:root {
    /* 
     * term colors (16 + 6) form the base terminal theme 
     * for consistency these colors should be used by plugins/applications
     */
    --term-black: #000000;
    --term-red: #cc0000;
    --term-green: #4e9a06;
    --term-yellow: #c4a000;
    --term-blue: #3465a4;
    --term-magenta: #bc3fbc;
    --term-cyan: #06989a;
    --term-white: #d0d0d0;
    --term-bright-black: #555753;
    --term-bright-red: #ef2929;
    --term-bright-green: #58c142;
    --term-bright-yellow: #fce94f;
    --term-bright-blue: #32afff;
    --term-bright-magenta: #ad7fa8;
    --term-bright-cyan: #34e2e2;
    --term-bright-white: #e7e7e7;

    --term-gray: #8b918a; /* not an official terminal color */
    --term-cmdtext: #ffffff;
    --term-foreground: #d3d7cf;
    --term-background: #000000;
    --term-selection-background: #ffffff60;
    --term-cursor-accent: #000000;
}
