@import "../../app/common/themes/themes.less";

.history-view {
    background-color: @background-session;

    .icon {
        width: 1.3em !important;
        height: 1.3em !important;
        fill: @base-color;
    }

    .is-left {
        position: absolute;
        left: 0.5em;
        top: 0.5em;
    }

    .close-div {
        position: absolute;
        right: 1em;
        top: 0.8em;
        cursor: pointer;
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
        svg {
            width: 1.5em;
            height: 1.5em;
            fill: @base-color;
        }
    }

    .header {
        margin: 10px;

        .history-title {
            margin-top: 0.3em;
            font-weight: bold;
            font-size: 1.5em;
        }

        input {
            border: none;
            border-radius: 4px;
            font-size: 1em;
            padding: 0.5em 1em;
            background-color: @background-session-components;
            color: @base-color;
        }
    }

    .history-search {
        flex-grow: 1;
        margin-top: 5px;

        .main-search {
            .field {
                width: 80%;
            }

            input::placeholder {
                color: #777;
            }
        }

        .advanced-search {
            display: flex;
            flex-direction: row;
            align-items: center;

            .dropdown {
                font-size: 0.8em;
                padding: 0.5em 1em;
                .label {
                    display: inline;
                    vertical-align: middle;
                    color: @base-color;
                }
                .icon {
                    vertical-align: middle;
                    margin-left: 1em;
                }
            }

            .session-dropdown,
            .remote-dropdown {
                .dropdown-item {
                    color: @term-white;
                    cursor: pointer;
                    &:hover {
                        background-color: #666;
                    }
                }

                .dropdown-content {
                    border-radius: 0 0 4px 4px;
                    width: 16em;
                }
            }

            .remote-dropdown {
                margin-left: 15px;
            }

            .search-checkbox {
                margin-left: 15px;
                padding: 5px 10px 5px 10px;
                background: @base-border;
                border-radius: 4px;
                display: flex;
                flex-direction: row;
                align-items: center;

                &.is-active {
                    background-color: #666;
                }

                .checkbox-container {
                    position: relative;
                    top: 2px;
                }

                .checkbox-text {
                    padding-left: 8px;
                    cursor: pointer;
                }
            }

            .fromts {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-left: 15px;

                .fromts-text {
                }
            }

            .reset-button {
                margin-left: 1em;
                color: @base-color;
                line-height: 1.75em;
            }
        }
    }

    .control-bar {
        display: flex;
        flex-direction: row;
        margin-bottom: 5px;
        margin-right: 10px;
        margin-top: 10px;
        margin-left: 10px;
        align-items: center;

        .is-hidden {
            display: none;
        }

        &.is-top {
            border-top: 1px solid #333;
            padding-top: 4px;
        }

        .control-checkbox {
            margin: 0.3em 1.2em;
        }

        .control-button {
            cursor: pointer;
            color: #aaa;
            margin-left: 10px;

            .icon {
                vertical-align: text-bottom;
            }

            &.is-disabled {
                cursor: default;
                i,
                span {
                    display: none;
                }
            }

            &:hover {
                color: @term-white;
            }

            &.delete-button.is-active {
                color: @term-bright-red !important;
            }
        }

        .spacer {
            flex-grow: 1;
        }

        .showing-text {
            margin-right: 10px;
        }

        .showing-btn {
            padding: 0 5px 0 5px;
            cursor: pointer;

            font-weight: bold;

            &.is-disabled {
                cursor: default;
                color: #777;
                font-weight: normal;
            }
        }

        .btn-spacer {
            width: 10px;
        }
    }

    .no-items {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 30px 0 30px 0;
        border: 1px solid white;
        border-radius: 3px;
        margin: 20px 50px 20px 20px;
    }

    .history-table {
        margin: 0px 10px 10px 10px;
        table-layout: fixed;
        border-top: 2px solid #ccc;

        tr.active-history-item {
            td {
                padding-right: 10px;

                .line-container {
                    padding: 0px 10px 10px 10px;
                    overflow-x: auto;
                    background-color: @term-black;
                }

                .line-context {
                    margin-left: 20px;
                    margin-bottom: 10px;
                    margin-top: 10px;
                    display: flex;
                    flex-direction: row;

                    .vic-btn {
                        cursor: pointer;
                        color: @term-white;

                        &:hover {
                            color: @term-white;
                        }
                    }
                }

                .no-line-context {
                    height: 10px;
                }

                .line-container.no-line {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    padding: 20px;
                }
            }
        }

        tr.history-item {
            padding: 0 10px 0 10px;
            display: flex;
            border-top: 1px solid #333;
            align-items: center;

            &.is-selected {
                background-color: #003;
            }

            &.is-selected:hover {
                background-color: #336;
            }

            &:hover {
                background-color: #333;

                td.bookmark i {
                    display: block;
                }
            }

            td {
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 5px;
            }

            td.selectbox {
                flex: 0 0 auto;
                flex-basis: 24px;
                margin-right: 1em;
                cursor: pointer;
            }

            td.bookmark {
                flex: 0 0 auto;
                flex-basis: 20px;
                margin-right: 1em;
                cursor: pointer;
            }

            td.ts {
                flex: 0 0 auto;
                flex-basis: 74px;
                font-weight: bold;
                margin-right: 1em;
            }

            td.session {
                flex: 0 0 auto;
                flex-basis: 120px;
                text-overflow: ellipsis;
                margin-right: 1em;
            }

            td.remote {
                flex: 0 0 auto;
                flex-basis: 150px;
                text-overflow: ellipsis;
                padding-right: 5px;
                max-width: 150px;
                overflow: hidden;
                margin-right: 2em;
            }

            td.cmdstr {
                color: @term-white;
                flex: 1 0 0;
                padding-left: 20px;
                border-radius: 3px;
                white-space: pre;
                max-height: 70px;
                cursor: pointer;
                min-width: 300px;
                padding-top: 4px;
                padding-bottom: 4px;
                overflow: hidden;

                .use-button {
                    visibility: hidden;
                }

                &:hover .use-button {
                    visibility: visible;
                }
            }
        }
    }

    .help-entry {
        margin: 1em 2em;
    }
}
