// Copyright 2024, Command Line Inc.
// SPDX-License-Identifier: Apache-2.0

@use "../mixins.scss";

.avatar {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-text-color);
    font-size: 18px;
    text-transform: uppercase;

    .avatar-image {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
    }

    .avatar-initials {
        font-weight: bold;
    }

    .status-indicator {
        position: absolute;
        bottom: 2px;
        right: 2px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: transparent;

        &.online {
            background-color: var(--success-color);
        }

        &.offline {
            background-color: var(--grey-text-color);
        }

        &.busy {
            background-color: var(--error-color);
        }

        &.away {
            background-color: var(--warning-color);
        }
    }

    @include mixins.avatar-dims-mixin();
}
