.chat-group {
    display: flex;
    align-items: stretch;
    border-radius: 6px;
    position: relative;
    width: 100%;
    border: 2px solid var(--form-element-border-color);
    background: var(--form-element-bg-color);
    padding: 5px;
    gap: 10px;

    &.focused {
        border-color: var(--form-element-primary-color);
    }

    &.error {
        border-color: var(--form-element-error-color);
    }

    &.disabled {
        opacity: 0.75;
    }

    &:hover {
        cursor: text;
    }

    .input-left-element,
    .input-right-element {
        padding: 0 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .chat-textarea {
        flex-grow: 1;
        margin: 0;
        border: none;
        box-shadow: none;
        box-sizing: border-box;
        background-color: transparent;
        resize: none;
        overflow-y: auto;
        line-height: 1.4;
        color: var(--form-element-text-color);
        vertical-align: top;
        height: auto;
        padding: 0;

        &:focus-visible {
            outline: none;
        }
    }

    .emoji-palette-wrapper {
        display: flex;
        align-items: flex-end;

        button {
            padding: 3px 4px;
        }
    }
}
