// Copyright 2024, Command Line Inc.
// SPDX-License-Identifier: Apache-2.0

@use "../mixins.scss";

.menu {
    position: absolute;
    z-index: 1000;
    display: flex;
    max-width: 400px;
    min-width: 125px;
    padding: 2px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 1px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    background: #212121;
    box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.3);
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 6px;
    cursor: pointer;
    color: var(--main-text-color);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.12px;
    width: 100%;
    border-radius: 2px;

    .label {
        @include mixins.ellipsis();
        text-decoration: none;
    }
}

.menu-item {
    color: var(--main-text-color);

    &:hover {
        background-color: var(--accent-color);
        color: var(--button-text-color);
        border-radius: 2px;
    }
}
