.iconbutton {
  cursor: pointer;
  opacity: 0.7;
  align-items: center;

  &.bulb {
    color: var(--bulb-color);
    opacity: 1;

    &:hover i::before {
      content: "\f672";
      position: relative;
      left: -1px;
    }
  }

  &:hover {
    opacity: 1;
  }

  &.disabled {
    cursor: default;
    opacity: 0.45 !important;
  }
}
