.wave-iconbutton {
    display: flex;
    cursor: pointer;
    opacity: 0.7;
    align-items: center;
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    outline: inherit;

    &.bulb {
        color: var(--bulb-color);
        opacity: 1;

        &:hover i::before {
            content: "\f672";
            position: relative;
            left: -1px;
        }
    }

    &:hover {
        opacity: 1;
    }

    &.no-action {
        cursor: default;
    }

    &.disabled {
        cursor: default;
        opacity: 0.45 !important;
    }

    &.toggle {
        border-radius: 3px;
        padding: 1px;
        &.active {
            opacity: 1;
            border: 1px solid var(--accent-color);
            padding: 0;
        }
        &:hover {
            background: var(--highlight-bg-color);
        }
    }
}
