// Copyright 2024, Command Line Inc.
// SPDX-License-Identifier: Apache-2.0

.list {
    list-style: none;
    padding: 0;
}

.list-item {
    padding: 10px;
    cursor: pointer;
}

.list-item-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-item-button.clickable {
    &:hover {
        background-color: #f0f0f0;
    }
}

.list-item-icon {
    margin-right: 10px;
}

.nested-list {
    list-style: none;
    padding-left: 20px;
}

.nested-list.open {
    display: block;
}

.nested-list.closed {
    display: none;
}
