.menubutton {
    overflow: hidden;
    .menu-anchor {
        width: 100%;
        .wave-button {
            width: 100%;
            div {
                max-width: 100%;
                text-overflow: ellipsis;
                overflow: hidden;
                flex-shrink: 1;
            }
        }
    }
}
