// Copyright 2024, Command Line Inc.
// SPDX-License-Identifier: Apache-2.0

.popover-content {
    min-width: 100px;
    min-height: 150px;
    position: absolute;
    z-index: 1000; // TODO: put this in theme.scss
    display: flex;
    padding: 2px;
    gap: 1px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    background: #212121;
    box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.3);
}
