// Copyright 2024, Command Line Inc.
// SPDX-License-Identifier: Apache-2.0

.progress-bar-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    --progress-bar-radius: 9px;

    .outer {
        position: relative;
        border: 1px solid rgb(from var(--main-text-color) r g b / 15%);
        border-radius: var(--progress-bar-radius);
        background-color: var(--main-bg-color);
        flex-grow: 1;
        height: 10px;
        .progress-bar-fill {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            transition: width 0.3s ease-in-out;
            background-color: var(--accent-color);
            border-radius: var(--progress-bar-radius);
            width: 100%;
        }
    }

    .progress-bar-label {
        width: 40px;
        flex-shrink: 0;
        font-size: 0.9rem;
        color: var(--main-text-color);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: right;
    }
}
