// Copyright 2024, Command Line Inc.
// SPDX-License-Identifier: Apache-2.0

.tips-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    .tips-section {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: 5px;

        .tip-section-header {
            font-weight: bold;
            margin-bottom: 5px;
            margin-top: 10px;
            font-size: 16px;

            &:first-child {
                margin-top: 0;
            }
        }

        .tip {
            display: flex;
            flex-direction: row;
            align-items: center;

            code {
                padding: 0.1em 0.4em;
                background-color: var(--highlight-bg-color);
            }

            .keybinding-group {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-left: 5px;
                margin-right: 5px;
                align-self: flex-start;

                &:first-child {
                    margin-left: 0;
                }
            }

            .keybinding {
                display: inline-block;
                padding: 0.1em 0.4em;
                margin: 0 0.1em;
                font: var(--fixed-font);
                font-size: 0.85em;
                color: var(--keybinding-color);
                background-color: var(--highlight-bg-color);
                border-radius: 4px;
                border: 1px solid var(--keybinding-border-color);
                box-shadow: none;
                white-space: nowrap;
            }

            .icon-wrap {
                background-color: var(--highlight-bg-color);
                padding: 2px;
                color: var(--secondary-text-color);
                font-size: 12px;
                border-radius: 2px;
                margin-right: 5px;
                align-self: flex-start;

                svg {
                    position: relative;
                    top: 3px;
                    left: 1px;
                    height: 13px;
                    #arrow1,
                    #arrow2 {
                        fill: var(--main-text-color);
                    }
                }
            }
        }
    }
}
