// Copyright 2024, Command Line Inc.
// SPDX-License-Identifier: Apache-2.0

.tooltip {
	width: max-content;
	background-color: rgb(from var(--block-bg-color) r g b / 70%);
	color: var(--main-text-color);
	padding: 8px 10px;
	border-radius: 4px;
	font-size: 12px;
}