@import "../../../app/common/themes/themes.less";

.main-content {
    .screen-view {
        flex-grow: 1;
        position: relative;
    }

    .window-view {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        height: calc(100% - 3em);
        overflow-x: hidden;

        .rendermode-tag {
            position: absolute;
            top: 0;
            right: 0;
            background-color: rgba(78, 154, 6, 0.65);
            color: @term-black;
            padding: 2px 8px 2px 4px;
            border-bottom-left-radius: 5px;
            z-index: 10;

            &.is-active {
                color: @term-white;
            }

            .render-mode {
                padding-top: 2px;

                position: relative;
                cursor: pointer;
                color: @term-white;

                &:hover {
                    color: @term-white;
                }
            }
        }

        .share-tag {
            color: @term-white;
            position: absolute;
            top: 0;
            left: 40%;
            background-color: darken(rgb(0, 177, 10), 20%);
            padding: 2px 8px 2px 4px;
            z-index: 11;

            /* border-radius: 0 0 5px 5px; */
            opacity: 0.8;
            display: flex;
            flex-direction: column;

            .share-tag-link {
                margin-top: 10px;
                display: none;
            }

            &:hover {
                .share-tag-title {
                    font-weight: bold;
                }
                opacity: 1;
                padding: 20px;
                width: 250px;
                border: 1px solid #ccc;
                border-top: 0;

                .share-tag-link {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 10px;
                }
            }
        }

        .window-empty {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: 10px;
            height: 100%;
            color: @term-white;

            code {
                background-color: @term-black;
                color: #4e9a06;
            }

            &.should-fade {
                opacity: 1;
                animation: fade-in 2.5s;
            }
        }
    }
}
