// Copyright 2024, Command Line Inc.
// SPDX-License-Identifier: Apache-2.0

.about-modal {
  padding-bottom: 34px;

  .content-wrapper .modal-content {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px;
    gap: 24px;

    .section-wrapper {
      display: flex;
      flex-direction: column;
      gap: 26px;
      width: 100%;
    }

    .section {
      align-items: center;
      gap: 16px;
      align-self: stretch;
      width: 100%;
      text-align: center;

      &.logo-section {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        .app-name {
          font-size: 25px;
        }

        .text-standard {
          line-height: 20px;
        }
      }
    }

    .section.links {
      display: flex;
      align-items: flex-start;
      gap: 10px;

      .button {
        display: flex;
        align-items: center;

        .icon-left {
          margin-right: 5px;
        }

        i {
          font-size: 16px;
          margin-right: 5px;
        }
      }
    }
  }
}
