// Copyright 2024, Command Line Inc.
// SPDX-License-Identifier: Apache-2.0

.tab {
    width: 130px;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    font-weight: bold;
    color: var(--secondary-text-color);
    padding: 4px 3px;

    .tab-inner {
        position: relative;
        width: 100%;
        height: 100%;
        white-space: nowrap;
        border-radius: 6px;
        background: rgba(255, 255, 255, 0.05);
    }

    &.animate {
        transition:
            transform 0.3s ease,
            background-color 0.3s ease-in-out;
    }

    &.active {
        .tab-inner {
            background: radial-gradient(
                133.33% 73.57% at 50% 100%,
                rgba(118, 255, 53, 0.3) 0%,
                rgba(255, 255, 255, 0.1) 100%
            );
        }
    }

    .name {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        user-select: none;
        z-index: 3;
        font-size: 11px;
        font-style: normal;
        font-weight: 500;

        &.focused {
            outline: none;
            border: 1px solid var(--border-color);
            padding: 2px 6px;
            border-radius: 2px;
        }
    }

    .vertical-line {
        display: inline;
        width: 1px;
        height: 50%;
        position: absolute;
        right: -1px;
        top: 50%;
        z-index: 1;
        transform: translateY(-50%);
        background-color: var(--border-color);
    }

    .vertical-line.first {
        left: 0;
    }

    .close {
        visibility: hidden;
        position: absolute;
        width: 20px;
        height: 20px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        top: 50%;
        z-index: 3;
        transform: translateY(-50%);
        right: 5px;
        opacity: 0.5;

        &:hover {
            opacity: 1;
            cursor: pointer;
        }

        i {
            color: var(--secondary-text-color);
        }
    }

    &.active:hover .close {
        visibility: visible;
    }

    &.active {
        .vertical-line {
            visibility: hidden;
        }
    }

    // &.active {
    //     .mask {
    //         position: absolute;
    //         height: 100%;
    //         width: 100%;
    //         top: 0;
    //         left: 0;
    //         z-index: 2;
    //         background-image: linear-gradient(
    //             to top,
    //             rgba(0, 0, 0, 0.9) 20%,
    //             rgba(0, 0, 0, 0.8) 60%,
    //             rgba(0, 0, 0, 0.7) 100%
    //         );
    //         pointer-events: none;
    //     }
    // }

    &.isDragging:not(.active) {
        // background-color: rgba(0, 8, 3, 1);
    }
}
