// Copyright 2024, Command Line Inc.
// SPDX-License-Identifier: Apache-2.0

@use "./../theme.scss";

// 74px accounts for the macOS window controls and spacing in non-fullscreen mode
$darwin-not-fullscreen-indent: 74px;

.tab-bar-wrapper {
    --default-indent: 10px;
}

.darwin:not(.fullscreen) .tab-bar-wrapper {
    .window-drag.left {
        width: $darwin-not-fullscreen-indent;
    }
}

.config-error-message {
    max-width: 500px;

    h3 {
        margin-bottom: 10px;
    }

    margin-bottom: 20px;
}

.tab-bar-wrapper-always-visible {
    padding-top: 6px;
    position: relative;
    opacity: 1;
}

.tab-bar-wrapper-auto-hide {
    left: 0; 
    right: 0;

    padding: 6px;
    margin: 2px;

    position: fixed;
    z-index: 1000;

    opacity: 0;
    background: transparent;
    border-radius: 6px;

    transition: opacity 0.3s ease, top 0.3s ease;

    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    
    @supports not ((backdrop-filter: blur(10px)) or (-webkit-backdrop-filter: blur(10px))) {
        background: rgb(from var(--block-bg-color) r g b / 0.8);
    }
}

.tab-bar-wrapper-auto-hide-visible {
    opacity: 1;
}

.tab-bar-wrapper {
    user-select: none;
    display: flex;
    flex-direction: row;
    width: 100vw;
    -webkit-app-region: drag;

    button {
        -webkit-app-region: no-drag;
    }

    .tabs-wrapper {
        transition: var(--tabs-wrapper-transition);
        height: 26px;
    }

    .tab-bar {
        position: relative; // Needed for absolute positioning of child tabs
        display: flex;
        flex-direction: row;
        height: 27px;
        -webkit-app-region: no-drag;
    }

    .pinned-tab-spacer {
        display: block;
        height: 100%;
        margin: 2px;
        border: 1px solid var(--border-color);
    }

    .dev-label,
    .app-menu-button {
        font-size: 26px;
        user-select: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 6px 0 0;
    }

    .app-menu-button {
        cursor: pointer;
        color: var(--secondary-text-color);

        &:hover {
            color: var(--main-text-color);
        }
    }

    .dev-label {
        color: var(--accent-color);
    }

    .tab-bar-right {
        display: flex;
        flex-direction: row;
        gap: 6px;
        &:not(:empty) {
            margin-left: auto;
            margin-right: 6px;
        }
    }

    .config-error-button {
        color: black;
        padding: 0 6px;
        flex: 0 0 fit-content;
    }

    .add-tab {
        padding: 0 10px;
    }

    .window-drag {
        height: 100%;
        width: var(--default-indent);
        flex-shrink: 0;

        &.right {
            flex-grow: 1;
        }
    }

    // Customize scrollbar styles
    .os-theme-dark,
    .os-theme-light {
        box-sizing: border-box;
        --os-size: 2px;
        --os-padding-perpendicular: 0px;
        --os-padding-axis: 0px;
        --os-track-border-radius: 2px;
        --os-handle-interactive-area-offset: 0px;
        --os-handle-border-radius: 2px;
    }
}
