// Copyright 2024, Command Line Inc.
// SPDX-License-Identifier: Apache-2.0

.tabcontent {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    min-height: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    padding-top: 3px;
    padding-right: 3px;

    .block-container {
        display: flex;
        flex-direction: row;
        flex: 1 0 0;
        height: 100%;
        overflow: hidden;
        border: 1px solid var(--border-color);
        border-radius: 4px;
    }
}
