.wave-button {
    color: black;
    background-color: var(--accent-color);
    flex: 0 0 fit-content;
    line-height: unset !important;
    padding: 0 6px;
    &:disabled {
        opacity: unset !important;
    }
}
