.update-available-banner {
    display: flex;
    height: 100%;
    .button {
        color: black;
        height: 80%;
        margin: auto 4px;
        background-color: var(--accent-color);
        flex: 0 0 fit-content;

        &:disabled {
            opacity: unset !important;
        }
    }
}
