.update-available-banner {
    color: black;
    background-color: var(--accent-color);
    flex: 0 0 fit-content;
    height: 100%;
    padding-left: 12px;
    padding-right: 12px;
    &:disabled {
        opacity: unset !important;
    }
}
