@import "../../../app/common/themes/themes.less";

// modal css (also includes settings-field)

.modal {
    z-index: 105;

    .modal-background {
        background-color: @base-background-transparent;
    }
}

.tos-modal {
    a:hover {
        text-decoration: underline;
    }
}

.disconnected-modal {
    .modal-content {
        footer {
            .footer-text-link {
                color: @term-white;
                cursor: pointer;
            }
        }
    }

    .inner-content {
        .ws-log {
            padding: 5px;
            background-color: @term-black;
            height: 250px;
            overflow: auto;

            .ws-logline {
                color: @term-white;
            }
        }
    }
}

.modal.prompt-modal.client-stop-modal {
    footer {
        justify-content: center;
    }

    .inner-content {
        display: flex;
        flex-direction: column;
        padding: 20px;
        .progress-container {
            margin-top: 20px;
        }
        .progress-text {
            color: @term-white;
            align-self: center;
        }
    }
}

.modal.alert-modal {
    z-index: 205;

    footer {
        justify-content: center;

        .button {
            margin-left: 20px;
        }

        .button:first-child {
            margin-left: 0;
        }
    }
}

.modal.settings-modal {
    footer {
        justify-content: center;

        .button {
            margin-left: 20px;
        }

        .button:first-child {
            margin-left: 0;
        }
    }

    .dropdown {
        .dropdown-menu .dropdown-content {
            .dropdown-item {
                color: @term-white;
                cursor: pointer;
                &:hover {
                    background-color: #333;
                }
            }
        }

        .dropdown-menu {
            max-height: 120px;
            overflow: auto;
        }
    }
}

.modal.prompt-modal {
    .modal-content {
        border-radius: 5px;
        background: @base-background;
        box-shadow: 0px 2px 2px 0 rgba(255, 255, 255, 0.1), 0px 4px 5px 0 rgba(255, 255, 255, 0.2),
            0px 0px 5px 2.5px rgba(255, 255, 255, 0.5);
    }

    header {
        display: flex;
        flex-direction: row;
        padding: 10px;
        position: relative;

        .modal-title {
            color: @base-color;
            font-size: 1.5em;
        }

        .close-icon {
            position: absolute;
            right: 1em;
            top: 0.8em;
            cursor: pointer;
            width: 1.5em;
            height: 1.5em;
            border-radius: 50%;
            svg {
                width: 1.5em;
                height: 1.5em;
                fill: @base-color;
            }
        }
    }

    .inner-content {
        padding: 1em;
        margin: 0;
        border-top: 1px solid fade(@base-border, 50%);
        &.is-hidden {
            display: none;
        }
    }

    footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: @term-white;
        background-color: #222;
        padding: 15px 10px 10px 10px;
        border-top: 1px solid #666;
    }
}

.modal.welcome-modal {
    footer {
        .prev-button {
            margin-left: 15px;
            width: 100px;
        }

        .prev-spacer {
            margin-left: 15px;
            width: 100px;
        }

        .next-button {
            margin-right: 15px;
            width: 100px;
        }

        .dots {
            i {
                margin-left: 5px;
            }
        }
    }
}

.client-settings-modal {
    .settings-field {
        .settings-label {
            width: 150px;
        }
    }
}

.settings-field {
    display: flex;
    flex-direction: row;
    align-items: center;

    &.settings-field.sub-field {
        .settings-label {
            font-weight: normal;

            text-align: right;
            padding-right: 20px;
        }
    }

    &.settings-error {
        color: @term-red;
        margin-top: 20px;
        padding: 10px;
        border-radius: 5px;
        background-color: #200707;
        border: 1px solid @term-red;
        font-weight: bold;

        .error-dismiss {
            padding: 2px;
            cursor: pointer;
        }
    }

    .settings-label {
        font-weight: bold;
        width: 12em;
        display: flex;
        flex-direction: row;
        align-items: center;
        .info-message {
            margin-left: 5px;
        }
    }

    .settings-input {
        display: flex;
        flex-direction: row;
        align-items: center;

        &.inline-edit.edit-not-active {
            cursor: pointer;

            i.fa-pen {
                margin-left: 5px;
            }

            &:hover {
                text-decoration: underline;
                text-decoration-style: dotted;
            }
        }

        &.settings-clickable {
            cursor: pointer;
        }

        &.inline-edit.edit-active {
            input.input {
                padding: 0;
                height: 20px;
            }

            .button {
                height: 20px;
            }
        }

        input {
            padding: 4px;
            border-radius: 3px;
        }

        .control {
        }

        .tab-color-icon.color-default path {
            fill: @tab-green;
        }
        .tab-color-icon.color-green path {
            fill: @tab-green;
        }
        .tab-color-icon.color-orange path {
            fill: @tab-orange;
        }
        .tab-color-icon.color-red path {
            fill: @tab-red;
        }
        .tab-color-icon.color-yellow path {
            fill: @tab-yellow;
        }
        .tab-color-icon.color-blue path {
            fill: @tab-blue;
        }
        .tab-color-icon.color-magenta path {
            fill: @tab-magenta;
        }
        .tab-color-icon.color-cyan path {
            fill: @tab-cyan;
        }
        .tab-color-icon.color-white path {
            fill: @tab-white;
        }
        .tab-color-icon.color-black path {
            fill: @tab-black;
        }

        .tab-colors {
            display: flex;
            flex-direction: row;
            align-items: center;

            .tab-color-sep {
                padding-left: 10px;
                padding-right: 10px;
                font-weight: bold;
            }

            .tab-color-cur {
                width: 100px;
            }

            .tab-color-icon {
                width: 1.1em;
                vertical-align: middle;
            }

            .tab-color-name {
                margin-left: 1em;
            }

            .tab-color-select {
                cursor: pointer;
                margin: 5px;
                &:hover {
                    outline: 2px solid white;
                }
            }
        }

        .action-text {
            margin-left: 20px;

            color: @term-red;
        }

        .settings-share-link {
            width: 160px;
        }
    }

    &:not(:first-child) {
        margin-top: 10px;
    }
}
