@import "../../../app/common/themes/themes.less";

// modal css (also includes settings-field)

.modal {
    z-index: 105;

    .modal-background {
        background-color: @base-background-transparent;
    }
}

.tos-modal {
    a:hover {
        text-decoration: underline;
    }
}

.disconnected-modal {
    .modal-content {
        footer {
            .footer-text-link {
                color: @term-white;
                cursor: pointer;
            }
        }
    }

    .inner-content {
        .ws-log {
            padding: 5px;
            background-color: @term-black;
            height: 250px;
            overflow: auto;

            .ws-logline {
                color: @term-white;
            }
        }
    }
}

.modal.prompt-modal.client-stop-modal {
    footer {
        justify-content: center;
    }

    .inner-content {
        display: flex;
        flex-direction: column;
        padding: 20px;
        .progress-container {
            margin-top: 20px;
        }
        .progress-text {
            color: @term-white;
            align-self: center;
        }
    }
}

.modal.settings-modal {
    footer {
        justify-content: center;

        .button {
            margin-left: 20px;
        }

        .button:first-child {
            margin-left: 0;
        }
    }

    .dropdown {
        .dropdown-menu .dropdown-content {
            .dropdown-item {
                color: @term-white;
                cursor: pointer;
                &:hover {
                    background-color: #333;
                }
            }
        }

        .dropdown-menu {
            max-height: 120px;
            overflow: auto;
        }
    }
}

.modal.prompt-modal {
    .modal-content {
        border-radius: 5px;
        background: @base-background;
        box-shadow: 0px 2px 2px 0 rgba(255, 255, 255, 0.1), 0px 4px 5px 0 rgba(255, 255, 255, 0.2),
            0px 0px 5px 2.5px rgba(255, 255, 255, 0.5);
        padding-bottom: 0.5em;
    }

    header {
        display: flex;
        flex-direction: row;
        padding: 10px;
        position: relative;
        background-color: @background-session-components-solid;

        .modal-title {
            color: @base-color;
            font-size: 1.5em;
            .icon {
                display: inline;
                width: 1em;
                height: 1em;
                margin-right: 1em;
                vertical-align: middle;
            }
        }

        .close-icon {
            position: absolute;
            right: 1em;
            top: 0.8em;
            cursor: pointer;
            width: 1.5em;
            height: 1.5em;
            border-radius: 50%;
            svg {
                width: 1.5em;
                height: 1.5em;
                fill: @base-color;
            }
        }
    }

    .inner-content {
        padding: 1em;
        margin: 0;
        border-top: 1px solid fade(@base-border, 50%);
        .icon {
            display: inline;
            width: 1em;
            height: 1em;
        }
        &.is-hidden {
            display: none;
        }
        .dropdown-trigger button {
            justify-content: flex-start;
            display: flex;
            color: @base-color;
            border: none !important;
            &:hover {
                box-shadow: none;
            }
        }
    }

    footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 15px 10px 10px 10px;
    }
}

.tos-modal {
    width: 640px;

    .wave-modal-content .wave-modal-body {
        padding: 32px 48px;
        gap: 8px;

        .wave-modal-body-inner {
            gap: 24px;
            display: flex;
            flex-direction: column;

            header.tos-header {
                flex-direction: column;
                gap: var(--sizing-sm, 12px);
                border-bottom: none;
                padding: 0;

                .modal-title {
                    text-align: center;
                    font-size: 20px;
                    font-weight: 300;
                }

                .modal-subtitle {
                    color: @term-white;
                    text-align: center;

                    font-style: normal;
                    font-weight: 300;
                    line-height: 20px;
                }
            }

            .content.tos-content {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 32px;
                width: 100%;
                margin-bottom: 0;

                .item {
                    display: flex;
                    width: 100%;
                    align-items: center;
                    gap: 16px;

                    .item-inner {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 4px;
                        flex: 1 0 0;

                        .item-title {
                            color: @term-bright-white;
                            font-style: normal;
                            line-height: 20px;
                        }

                        .item-text {
                            color: @term-white;
                            font-style: normal;
                            line-height: 20px;
                        }

                        .item-field {
                            display: flex;
                            align-items: center;
                            gap: 8px;
                        }
                    }
                }
            }

            footer {
                .item-text {
                    text-align: center;
                }

                .button-wrapper {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;

                    button {
                        font-size: 12.5px !important;
                        margin-top: 16px;
                    }

                    button.disabled-button {
                        cursor: default;
                    }
                }
            }
        }
    }
}

.about-modal {
    .wave-modal-content {
        gap: 24px;

        .wave-modal-body {
            margin-bottom: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 24px;

            .about-section {
                display: flex;
                align-items: center;
                gap: 16px;
                align-self: stretch;
                width: 100%;

                .logo-wrapper {
                    width: 72px;
                    height: 72px;
                    flex-shrink: 0;

                    img {
                        border-radius: 10px;
                    }
                }

                .text-wrapper {
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    gap: 4px;
                    align-self: stretch;
                    font-style: normal;
                    line-height: 20px;

                    div:first-child {
                        color: @term-bright-white;
                        font-size: 14.5px;
                    }

                    div:last-child {
                        color: @term-white;
                        text-align: left;
                    }
                }

                .status {
                    div {
                        display: flex;
                        align-items: center;
                        margin-bottom: 5px;

                        i {
                            font-size: 16px;
                            margin-right: 10px;
                        }
                    }

                    div:first-child + div {
                        color: @term-white;
                    }
                }

                .status.updated {
                    div {
                        display: flex;
                        align-items: center;
                        margin-bottom: 5px;

                        i {
                            color: @term-green;
                        }
                    }
                }

                .status.outdated {
                    div {
                        i {
                            color: @term-yellow;
                        }
                    }

                    button {
                        margin-top: 5px;
                    }
                }
            }

            .about-section:nth-child(3) {
                display: flex;
                align-items: flex-start;
                gap: 10px;

                .wave-button-link {
                    display: flex;
                    align-items: center;

                    i {
                        font-size: 16px;
                    }
                }
            }

            .about-section:last-child {
                margin-bottom: 24px;
                color: @term-white;
            }
        }
    }
}

.crconn-modal {
    width: 452px;
    min-height: 411px;

    .wave-modal-content {
        gap: 24px;

        .wave-modal-body {
            display: flex;
            padding: 0px 20px;
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;
            align-self: stretch;
            width: 100%;

            > div {
                width: 100%;
            }
        }
    }
}

.screen-settings-modal {
    width: 640px;

    .wave-modal-content {
        gap: 24px;

        .wave-modal-body {
            display: flex;
            padding: 0px 20px;
            flex-direction: column;
            align-items: flex-start;
            gap: 4px;
            align-self: stretch;
            width: 100%;

            .screen-settings-dropdown {
                width: 412px;

                .lefticon {
                    position: absolute;
                    top: 50%;
                    left: 16px;
                    transform: translateY(-50%);

                    .globe-icon {
                        width: 16px;
                        height: 16px;
                        flex-shrink: 0;
                    }

                    .status-icon {
                        position: absolute;
                        left: 7px;
                        top: 8px;
                    }
                }
            }

            .archived-label,
            .actions-label {
                div:first-child {
                    margin-right: 5px;
                }
                div:last-child i {
                    font-size: 13px;
                }
            }
        }
    }
}

.tabswitcher-modal {
    width: 452px;
    min-height: 384px;

    .wave-modal-content {
        .wave-modal-body {
            display: flex;
            padding: 0px;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;
            width: 100%;

            .textfield-wrapper {
                padding: 20px 20px 0px;

                .wave-input-decoration.start-position {
                    height: 100%;

                    .tabswitcher-search-prefix {
                        opacity: 0.5;
                        font-size: 13px;
                    }
                }
            }

            .list-container {
                overflow: hidden;
                padding: 10px 0 20px;
                width: 100%;
            }

            .list-container-inner {
                width: 100%;
                max-height: 300px;
                overflow-y: hidden;
                padding: 0 20px;

                &:focus,
                &:hover {
                    overflow-y: overlay;
                    padding-right: 16px;
                }

                .options-list {
                    width: 100%;

                    .search-option {
                        padding: 5px 5px 5px 15px;
                        display: flex;
                        align-items: center;
                        border: 1px solid transparent;

                        &:hover {
                            border: 1px solid rgba(241, 246, 243, 0.15);
                            border-radius: 4px;
                            background: rgba(255, 255, 255, 0.06);
                        }

                        span {
                            display: flex;
                        }

                        span:first-child {
                            width: 20px;
                        }
                    }

                    .focused-option {
                        border: 1px solid rgba(241, 246, 243, 0.15);
                        border-radius: 4px;
                        background: rgba(255, 255, 255, 0.06);
                    }

                    .color-green,
                    .color-default {
                        svg.left-icon path {
                            fill: @tab-green;
                        }

                        i {
                            color: @tab-green;
                        }
                    }

                    .color-orange {
                        svg.left-icon path {
                            fill: @tab-orange;
                        }

                        i {
                            color: @tab-orange;
                        }
                    }

                    .color-red {
                        svg.left-icon path {
                            fill: @tab-red;
                        }

                        i {
                            color: @tab-red;
                        }
                    }

                    .color-yellow {
                        svg.left-icon path {
                            fill: @tab-yellow;
                        }

                        i {
                            color: @tab-yellow;
                        }
                    }

                    .color-blue {
                        svg.left-icon path {
                            fill: @tab-blue;
                        }

                        i {
                            color: @tab-blue;
                        }
                    }

                    .color-mint {
                        svg.left-icon path {
                            fill: @tab-mint;
                        }

                        i {
                            color: @tab-mint;
                        }
                    }

                    .color-cyan {
                        svg.left-icon path {
                            fill: @tab-cyan;
                        }

                        i {
                            color: @tab-cyan;
                        }
                    }

                    .color-white {
                        svg.left-icon path {
                            fill: @tab-white;
                        }

                        i {
                            color: @tab-white;
                        }
                    }

                    .color-violet {
                        svg.left-icon path {
                            fill: @tab-violet;
                        }

                        i {
                            color: @tab-violet;
                        }
                    }

                    .color-pink {
                        svg.left-icon path {
                            fill: @tab-pink;
                        }

                        i {
                            color: @tab-pink;
                        }
                    }
                }
            }
        }
    }
}

.screen-settings-tooltip .wave-tooltip-icon {
    i {
        font-size: 13px;
    }
}

.session-settings-modal {
    width: 640px;

    .wave-modal-content {
        gap: 24px;

        .wave-modal-body {
            display: flex;
            padding: 0px 20px;
            flex-direction: column;
            align-items: flex-start;
            gap: 4px;
            align-self: stretch;
            width: 100%;
        }
    }
}

.line-settings-modal {
    width: 640px;

    .wave-modal-content {
        gap: 24px;

        .wave-modal-body {
            display: flex;
            padding: 0px 20px;
            flex-direction: column;
            align-items: flex-start;
            gap: 4px;
            align-self: stretch;
            width: 100%;
        }
    }
}

.client-settings-modal {
    width: 640px;

    .wave-modal-content {
        gap: 24px;

        .wave-modal-body {
            display: flex;
            padding: 0px 20px;
            flex-direction: column;
            align-items: flex-start;
            gap: 4px;
            align-self: stretch;
            width: 100%;
        }
    }
}

.erconn-modal {
    width: 502px;
    min-height: 411px;

    .wave-modal-content {
        gap: 20px;

        .wave-modal-body {
            display: flex;
            padding: 0px 20px;
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;
            align-self: stretch;
            width: 100%;

            > div {
                width: 100%;
            }

            .name-actions-section {
                margin-bottom: 10px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 12px;

                .name {
                    color: @term-bright-white;
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 20px;
                }

                .header-actions {
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-start;

                    .wave-button {
                        padding: 4px 15px;
                        font-size: 11px;
                        margin-right: 8px;
                    }
                }
            }
        }
    }
}

.alert-modal {
    width: 500px;

    .wave-modal-content {
        .wave-modal-body {
            padding: 40px 20px;
        }
    }
}

.rconndetail-modal {
    width: 631px;
    min-height: 565px;

    .wave-modal-content {
        display: flex;
        padding-bottom: 0px;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        flex-shrink: 0;

        .wave-modal-body {
            display: flex;
            padding: 0px 20px;
            align-items: flex-start;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 16px;
            align-self: stretch;

            .name-header-actions-wrapper {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 12px;

                .rconndetail-name {
                    color: @term-bright-white;
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 20px;
                }

                .header-actions {
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-start;

                    .wave-button {
                        padding: 4px 15px;
                        font-size: 11px;
                        margin-right: 8px;
                    }
                }
            }

            .remote-detail {
                .settings-field {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    .settings-label {
                        font-weight: bold;
                        width: 12em;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                    }

                    .settings-input {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        color: @term-white;
                    }
                }

                .settings-field:not(:first-child) {
                    margin-top: 4px;
                }

                .status {
                    display: flex;
                    height: 30px;
                    padding: 3px 8px;
                    align-items: center;
                    gap: 8px;
                    align-self: stretch;
                    border-radius: 6px;
                    background: rgba(241, 246, 243, 0.08);
                }

                .terminal-wrapper {
                    width: 100%;
                    margin-top: 5px;

                    .terminal-connectelem {
                        height: 163px !important; // Needed to override plugin height

                        .xterm-viewport {
                            display: flex;
                            padding: 6px 10px;
                            gap: 8px;
                            align-items: flex-start;
                            align-self: stretch;
                            border-radius: 6px;
                            border: 1px solid var(--element-separator, rgba(241, 246, 243, 0.15));
                            background: #080a08;
                            height: 163px !important; // Needed to override plugin height
                        }

                        .xterm-screen {
                            padding: 10px;
                            width: 541px !important; // Needed to override plugin width
                        }
                    }
                }
            }
        }
    }
}

.wave-button.color-standard {
    color: @term-white;
    background: rgba(255, 255, 255, 0.12);

    &:hover {
        color: @term-white;
    }
}

.wave-button-link {
    display: flex;
    padding: 6px 16px;
    align-items: center;
    gap: var(--sizing-2-xs, 4px);
    border-radius: 6px;
    background: var(--overlays-white-6, rgba(255, 255, 255, 0.12));
    cursor: pointer;
}

.wave-modal-section {
    display: flex;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    width: 100%;
}

.modal.welcome-modal {
    footer {
        .prev-button {
            margin-left: 15px;
            width: 100px;
        }

        .prev-spacer {
            margin-left: 15px;
            width: 100px;
        }

        .next-button {
            margin-right: 15px;
            width: 100px;
        }

        .dots {
            i {
                margin-left: 5px;
            }
        }
    }
}

.client-settings-modal {
    .settings-field {
        .settings-label {
            width: 157px;
        }
        .dropdown-menu {
            min-width: 7.25em;
            max-width: 7.25em;
        }
    }
}

.settings-field {
    display: flex;
    flex-direction: row;
    align-items: center;

    &.settings-field.sub-field {
        .settings-label {
            font-weight: normal;

            text-align: right;
            padding-right: 20px;
        }
    }

    &.settings-error {
        color: @term-red;
        margin-top: 20px;
        padding: 10px;
        border-radius: 5px;
        background-color: #200707;
        border: 1px solid @term-red;
        font-weight: bold;

        .error-dismiss {
            padding: 2px;
            cursor: pointer;
        }
    }

    .settings-label {
        font-weight: bold;
        width: 12em;
        display: flex;
        flex-direction: row;
        align-items: center;
        .info-message {
            margin-left: 5px;
        }
    }

    .settings-input {
        display: flex;
        flex-direction: row;
        align-items: center;

        &.settings-clickable {
            cursor: pointer;
        }

        &.inline-edit.edit-active {
            input.input {
                padding: 0;
                height: 20px;
            }

            .button {
                height: 20px;
            }
        }

        input {
            padding: 4px;
            border-radius: 3px;
        }

        .control {
            .icon {
                width: 1.5em;
                height: 1.5em;
                margin: 0;
            }
        }

        .tab-color-icon.color-default path {
            fill: @tab-green;
        }
        .tab-color-icon.color-green path {
            fill: @tab-green;
        }
        .tab-color-icon.color-orange path {
            fill: @tab-orange;
        }
        .tab-color-icon.color-red path {
            fill: @tab-red;
        }
        .tab-color-icon.color-yellow path {
            fill: @tab-yellow;
        }
        .tab-color-icon.color-blue path {
            fill: @tab-blue;
        }
        .tab-color-icon.color-mint path {
            fill: @tab-mint;
        }
        .tab-color-icon.color-cyan path {
            fill: @tab-cyan;
        }
        .tab-color-icon.color-white path {
            fill: @tab-white;
        }
        .tab-color-icon.color-violet path {
            fill: @tab-violet;
        }
        .tab-color-icon.color-pink path {
            fill: @tab-pink;
        }

        .tab-colors,
        .tab-icons {
            display: flex;
            flex-direction: row;
            align-items: center;

            .tab-color-sep,
            .tab-icon-sep {
                padding-left: 10px;
                padding-right: 10px;
                font-weight: bold;
            }

            .tab-color-icon,
            .tab-icon-icon {
                width: 1.1em;
                vertical-align: middle;
            }

            .tab-color-name,
            .tab-icon-name {
                margin-left: 1em;
            }

            .tab-color-select,
            .tab-icon-select {
                cursor: pointer;
                margin: 5px;
                &:hover {
                    outline: 2px solid white;
                }
            }
        }

        .action-text {
            margin-left: 20px;

            color: @term-red;
        }

        .settings-share-link {
            width: 160px;
        }
    }

    &:not(:first-child) {
        margin-top: 10px;
    }
}
