@import "../../index.less";

.session-view {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    &.is-hidden {
        display: none;
    }
    max-width: calc(100% - 21em);
    background: @background-session;
    border: 1px solid @base-border;
    border-radius: 8px;
    margin-bottom: 1em;
}
