.root {
    padding: 10px;
}

.background {
    display: flex;
    align-items: center;
    width: 100%;
}

.background-inner {
    max-width: 300px;
}

.bg-item {
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.bg-item:hover {
    background-color: var(--button-grey-hover-bg);
}

.bg-preview {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid #777;
}

.bg-label {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
