.wave-button {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    display: flex;
    padding: 6px 16px;
    align-items: center;
    gap: 4px;
    border-radius: 6px;
    height: auto;
    line-height: 1.5;

    &.primary {
        color: var(--form-element-text-color);
        background: var(--form-element-primary-color);

        i {
            fill: var(--form-element-primary-color);
        }

        &.solid {
            color: var(--form-element-text-color);
            background: var(--form-element-primary-color);

            i {
                fill: var(--form-element-text-color);
            }
        }

        &.outlined {
            background: none;
            border: 1px solid var(--form-element-primary-color);
        }

        &.ghost {
            background: none;
        }

        &:hover {
            color: var(--form-element-text-color);
        }
    }

    &.secondary {
        color: var(--form-element-text-color);
        background: none;
        color: var(--form-element-text-color);
        background: var(--form-element-secondary-color);
        box-shadow: none;

        &.solid {
            color: var(--form-element-text-color);
            background: var(--form-element-secondary-color);
            box-shadow: none;
        }

        &.outlined {
            background: none;
            border: 1px solid var(--form-element-secondary-color);
        }

        &.ghost {
            background: none;
            padding: 6px 10px;
            background: none;

            i {
                fill: var(--form-element-primary-color);
            }
        }
    }

    &.term-inline {
        padding: 2px 8px;
        border-radius: 3px;
    }

    &.disabled {
        opacity: 0.5;
    }

    &.link-button {
        cursor: pointer;
    }
}
