.wave-status-container {
    display: flex;
    align-items: center;

    .dot {
        height: 6px;
        width: 6px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 8px;
    }

    .dot.green {
        background-color: var(--status-connected-color);
    }

    .dot.red {
        background-color: var(--status-error-color);
    }

    .dot.gray {
        background-color: var(--status-disconnected-color);
    }

    .dot.yellow {
        background-color: var(--status-connecting-color);
    }
}
