@import "../../app/common/themes/themes.less";

.main-sidebar {
    padding: 0;
    min-width: 20rem;
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 12.5px;
    line-height: 20px;

    .title-bar-drag {
        -webkit-app-region: drag;
        height: 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    &.collapsed {
        width: 6em;
        min-width: 6em;
        .arrow-container, .collapse-button {
            transform: rotate(180deg);
            margin-top: 20px;
        }
        .contents {
            margin-top: 26px;
            
            .top, .workspaces-item, .middle, .bottom, .separator {
                pointer-events: none;
                opacity: 0;
                visibility: hidden;
            }

            .logo {
                display: flex;
                flex-direction: column;
                margin-left: 0;
                justify-content: center;
                align-items: center;

                .logo-container img {
                    width: 45px;
                }

                .collapse-button {
                    margin-right: 0;
                }
            }
        }
        overflow: hidden;
    }

    .arrow-container {
        position: absolute;
        top: 24px;
        right: 15px;
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
        transition: transform 0.3s ease-in-out;
        z-index: 2;
        svg {
            width: 1.5em;
            height: 1.5em;
        }
    }

    .contents {
        margin-top: 36px;
    }

    .logo {
        margin-left: 14px;
        display: flex;
        flex-direction: row;

        .spacer {
            flex-grow: 1;
        }
        
        img {
            width: 100px;
        }

        .collapse-button {
            transition: transform 0.3s ease-in-out;
            margin-right: 14px;
            
            svg {
                margin-top: 3px;
                width: 1.5em;
                height: 1.5em;
            }
        }
    }

    .top {
    }

    .separator {
        height: 1px;
        margin: 16px 0;
        background-color: @base-border;
    }

    .item.workspaces-item {
        margin-bottom: -4px;
    }

    .middle {
        max-height: calc(100vh - 32em);
        padding: 4px 6px 8px 6px;
        border-bottom: 1px solid @base-border;
        .item {
            &.active {
                background: @base-border;
                box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.4), 0px 0px 0.5px 0px rgba(0, 0, 0, 0.5),
                    0px 0px 0.5px 0px rgba(255, 255, 255, 0.5) inset, 0px 0.5px 0px 0px rgba(255, 255, 255, 0.2) inset;
            }
            .index {
                margin: 0 1.5em 0 -0.5rem;
                font-size: 0.8em;
                vertical-align: middle;
                text-align: right;
                width: 2em;
                display: inline-block;
            }
            .hotkey {
                float: left !important;
                margin-right: 0 !important;
                visibility: hidden;
                letter-spacing: 0 !important;
            }
        }
    }

    .bottom {
        position: absolute;
        bottom: 2em;
        left: 0;
        width: 100%;
    }

    .item {
        padding: 5px;
        margin: 0 6px;
        border-radius: 4px;
        opacity: 1;
        visibility: visible;
        transition: opacity 0.1s ease-in-out, visibility 0.1s step-end;
        .sessionName {
            width: 12rem;
            display: inline-block;
            vertical-align: middle;
        }
        .icon {
            margin: -2px 8px 0px 4px;
            width: 16px;
            height: 16px;
            display: inline-block;
            vertical-align: middle;
            border-radius: 50%;
        }
        .actions.icon {
            margin-left: 8px;
        }
        .hotkey {
            float: right;
            margin-right: 6px;
            visibility: hidden;
            letter-spacing: 6px;
        }
        .disabled .hotkey {
            display: none;
        }
        &:hover .hotkey {
            visibility: visible;
        }
        .actions {
            visibility: hidden;
        }
        &:hover .actions {
            visibility: visible;
        }
        .add_workspace {
            float: right;
            width: 1.5rem;
            height: 1.5rem;
            padding: 2px;
            margin-right: 6px;
            border-radius: 50%;
            transition: transform 0.3s ease-in-out;
            vertical-align: middle;
            svg {
                fill: @base-color;
            }
        }
    }

    .menu-label {
        color: @base-color;
    }

    .menu-list {
        li.menu-history,
        li.menu-bookmarks,
        li.menu-settings,
        li.menu-websharing {
            margin-left: -10px;
        }

        li.menu-bookmarks {
            margin-left: -10px;
        }

        li {
            .hotkey {
                visibility: hidden;
            }

            &:hover .hotkey {
                visibility: visible;
            }
        }
    }

    .menu-list.session-menu-list {
        li a {
            display: flex;
            flex-direction: row;
            align-items: center;

            .session-num {
                width: 24px;
                margin-left: -12px;
            }

            .session-gear {
                visibility: hidden;
            }

            &:hover .session-gear {
                color: @term-white;
                visibility: visible;

                &:hover {
                    color: @term-white;
                }
            }
        }
    }

    .menu-list.emotes-menu-list {
        max-height: 35%;
        overflow-y: auto;
    }

    .menu-list li.emote-menu-item {
        a {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .menu-list li a {
        white-space: nowrap;
        padding: 3px 5px 3px 12px;
        vertical-align: middle;
        position: relative;

        .user-status {
            position: absolute !important;
            top: 24px !important;
            left: 32px !important;
        }

        .avatar {
            width: 24px;
            height: 24px;
            margin-right: 5px;
            vertical-align: middle;
        }

        &.is-active .small-text {
            color: @term-white;
        }

        &.is-active {
            font-weight: bold;
            background-color: @active-menu-color;

            .session-num {
                font-weight: normal;
            }
        }

        .sub-label {
            font-style: italic;
        }

        &.activity {
            font-weight: bold;

            .tag {
                margin-left: 4px;
                padding: 0 5px 0 5px;
                position: relative;
                top: -1px;
            }
        }

        .status {
            margin-right: 5px;
            position: relative;
            top: -3px;
        }
    }
}
