@import "../../index.less";

.main-sidebar {
    padding: 0;
    width: 20rem;
    min-width: 20rem;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: width 0.2s ease;

    &.collapsed {
        width: 4em;
        .arrow-container {
            transform: rotate(180deg);
        }
        .contents {
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.1s ease-in-out, visibility 0.1s step-start;
        }
        overflow: hidden;
    }

    .arrow-container {
        position: absolute;
        top: 8px;
        right: 18px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        padding: 2px;
        transition: transform 0.3s ease-in-out;

        svg {
            width: 16px;
            height: 16px;
        }
    }

    .top {
        margin-top: 32px;
    }

    .separator {
        height: 1px;
        margin: 16px 0;
        background-color: @base-border;
    }

    .middle {
        max-height: calc(100vh - 32em);
        overflow-y: auto;
        padding: 8px 6px;
        border-bottom: 1px solid @base-border;
        .item {
            &.active {
                background: @base-border;
                box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.4), 0px 0px 0.5px 0px rgba(0, 0, 0, 0.5),
                    0px 0px 0.5px 0px rgba(255, 255, 255, 0.5) inset, 0px 0.5px 0px 0px rgba(255, 255, 255, 0.2) inset;
            }
            .index {
                margin: 0 1.5em 0 -0.5rem;
                font-size: 0.8em;
                vertical-align: middle;
                text-align: right;
                width: 2em;
                display: inline-block;
            }
            .hotkey {
                float: left !important;
                margin-right: 0 !important;
                visibility: hidden;
                letter-spacing: 0 !important;
            }
        }
    }

    .bottom {
        position: absolute;
        bottom: 2em;
        left: 0;
        width: 100%;
    }

    .item {
        padding: 6px;
        margin: 0 6px;
        border-radius: 4px;
        opacity: 1;
        visibility: visible;
        transition: opacity 0.1s ease-in-out, visibility 0.1s step-end;
        .sessionName {
            width: 11rem;
            display: inline-block;
            vertical-align: middle;
        }
        .icon {
            margin: 0 0.5em;
            width: 1em;
            height: 1em;
            display: inline-block;
            vertical-align: middle;
            border-radius: 50%;
        }
        .hotkey {
            float: right;
            margin-right: 6px;
            visibility: hidden;
            letter-spacing: 6px;
        }
        &:hover .hotkey {
            visibility: visible;
        }
        .actions {
            visibility: hidden;
        }
        &:hover .actions {
            visibility: visible;
        }
        .add_workspace {
            float: right;
            width: 1.5rem;
            height: 1.5rem;
            padding: 2px;
            margin-right: 6px;
            border-radius: 50%;
            transition: transform 0.3s ease-in-out;
            vertical-align: middle;
            svg {
                fill: @base-color;
            }
        }
    }

    .menu-label {
        color: @base-color;
    }

    .menu-list {
        li.menu-history,
        li.menu-bookmarks,
        li.menu-settings,
        li.menu-websharing {
            margin-left: -10px;
        }

        li.menu-bookmarks {
            margin-left: -10px;
        }

        li {
            .hotkey {
                visibility: hidden;
            }

            &:hover .hotkey {
                visibility: visible;
            }
        }
    }

    .menu-list.session-menu-list {
        li a {
            display: flex;
            flex-direction: row;
            align-items: center;

            .session-num {
                width: 24px;
                margin-left: -12px;
            }

            .session-gear {
                visibility: hidden;
            }

            &:hover .session-gear {
                color: @term-white;
                visibility: visible;

                &:hover {
                    color: @term-white;
                }
            }
        }
    }

    .menu-list.emotes-menu-list {
        max-height: 35%;
        overflow-y: auto;
    }

    .menu-list li.emote-menu-item {
        a {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .menu-list li a {
        white-space: nowrap;
        padding: 3px 5px 3px 12px;
        vertical-align: middle;
        position: relative;

        .user-status {
            position: absolute !important;
            top: 24px !important;
            left: 32px !important;
        }

        .avatar {
            width: 24px;
            height: 24px;
            margin-right: 5px;
            vertical-align: middle;
        }

        &.is-active .small-text {
            color: @term-white;
        }

        &.is-active {
            font-weight: bold;
            background-color: @active-menu-color;

            .session-num {
                font-weight: normal;
            }
        }

        .sub-label {
            font-style: italic;
        }

        &.activity {
            font-weight: bold;

            .tag {
                margin-left: 4px;
                padding: 0 5px 0 5px;
                position: relative;
                top: -1px;
            }
        }

        .status {
            margin-right: 5px;
            position: relative;
            top: -3px;
        }
    }
}

.is-dev .main-sidebar {
    background-color: @base-background-dev;
}
