@import "@/common/icons/icons.less";

.main-sidebar {
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 12.5px;
    line-height: 20px;
    backdrop-filter: blur(4px);
    z-index: 20;
    border-radius: var(--app-border-radius) 0 0 var(--app-border-radius);
    border-left: 1px solid var(--app-border-color);
    border-bottom: 1px solid var(--app-border-color);
    font-size: var(--sidebar-font-size);
    font-family: var(--label-font-family);

    .title-bar-drag {
        -webkit-app-region: drag;
        height: calc(var(--screentabs-height) + 1px);
        top: 0;
        left: 0;
        width: 100%;
        border-bottom: 1px solid var(--app-border-color);
        position: relative;

        .close-button {
            -webkit-app-region: no-drag;
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            padding: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
    }

    &.collapsed {
        display: none;

        width: 6em;
        min-width: 6em;
        .arrow-container,
        .collapse-button {
            transform: rotate(180deg);
            margin-top: 20px;
        }

        .title-bar-drag {
            .close-button {
                display: none;
            }
        }

        .contents {
            .top,
            .workspaces,
            .middle,
            .bottom,
            .separator {
                pointer-events: none;
                opacity: 0;
                visibility: hidden;
            }

            .logo {
                display: flex;
                flex-direction: column;
                margin-left: 0;
                justify-content: center;
                align-items: center;

                .logo-container {
                    width: 45px;
                }

                .collapse-button {
                    margin-right: 0;
                }
            }
        }
        overflow: hidden;
    }

    .arrow-container {
        position: absolute;
        top: 24px;
        right: 15px;
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
        transition: transform 0.3s ease-in-out;
        z-index: 2;
        svg {
            width: 1.5em;
            height: 1.5em;
        }
    }

    .contents {
        margin-top: 16px;
    }

    .logo {
        margin-left: 14px;
        display: flex;
        flex-direction: row;

        .logo-container {
            flex-shrink: 0;
            img {
                width: 40px;
            }
        }

        .spacer {
            flex-grow: 1;
        }
        img {
            width: 100px;
        }

        .collapse-button {
            transition: transform 0.3s ease-in-out;
            margin-right: 14px;

            svg {
                margin-top: 3px;
                width: 1.5em;
                height: 1.5em;
            }
        }
    }

    .separator {
        height: 1px;
        margin: 16px 0;
        background-color: var(--sidebar-separator-color);
    }

    .item.workspaces-item {
        margin-bottom: -4px;
    }

    .middle {
        padding: 4px 6px 8px 6px;
        border-bottom: 1px solid var(--sidebar-separator-color);
        .item {
            &.active {
                background-color: var(--sidebar-highlight-color);
            }
            .index {
                font-size: 10px;
            }
            .hotkey {
                float: left !important;
                margin-right: 0 !important;
                visibility: hidden;
                letter-spacing: 0 !important;
            }
        }
    }

    .bottom {
        position: absolute;
        bottom: 2rem;
        left: 0;
        width: 100%;
        padding-top: 0.8rem;
    }

    .item {
        padding: 5px;
        margin-left: 6px;
        border-radius: 4px;
        opacity: 1;
        width: inherit;
        max-width: inherit;
        min-width: inherit;
        display: flex;
        flex-direction: row;
        align-items: center;

        .front-icon {
            .positional-icon-visible;
        }

        .end-icons {
            height: 20px;
        }

        .item-contents {
            flex-grow: 1;
        }
        .icon {
            width: 16px;
            height: 16px;
        }
        .hotkey {
            float: right;
            margin-right: 6px;
            letter-spacing: 6px;
            margin-left: auto;
        }
        &:hover {
            :not(.disabled) .hotkey {
                .positional-icon-visible;
            }
            .actions {
                .positional-icon-visible;
            }
        }

        &:not(:hover) .status-indicator {
            .status-indicator-visible;
        }

        &.workspaces {
            cursor: default;
            .add-workspace {
                cursor: pointer;
                .positional-icon-visible;
                float: right;
                padding: 2px;
                margin-right: 6px;
                .fa-plus {
                    font-size: 13px;
                }
            }
        }

        .front-icon {
            font-size: 15px;
        }

        .end-icons {
            line-height: normal;
        }

        .fa-discord {
            font-size: 13px;
        }
    }

    .update-banner {
        font-weight: bold;

        .icon {
            font-weight: normal;
            font-size: 16px;
        }
    }
}
