@import "../../app/common/themes/themes.less";

.connections-view {
    background-color: @background-session;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: auto;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 8px;
    border: 1px solid rgba(241, 246, 243, 0.08);
    background: var(--element-window, rgba(13, 13, 13, 0.85));

    .header {
        margin: 2em 1.5em;
        display: flex;
        justify-content: space-between;

        .connections-title {
            color: @term-white;
        }
    }

    .no-items {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 30px 0 30px 0;
        border: 1px solid white;
        border-radius: 3px;
        margin: 20px 50px 20px 20px;
    }

    .connections-table {
        margin: 0px 10px 10px 10px;
        table-layout: fixed;

        thead {
            border-radius: var(--sizing-2-xs, 4px);
            border-top: 1px solid rgba(250, 250, 250, 0.1);
            border-bottom: 1px solid rgba(241, 246, 243, 0.15);
            background: var(--opacity-zinc-502, rgba(250, 250, 250, 0.02));
            box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.4), 0px 0px 0.5px 0px rgba(0, 0, 0, 0.5),
                0px 0px 0.5px 0px rgba(255, 255, 255, 0.5) inset, 0px 0.5px 0px 0px rgba(255, 255, 255, 0.2) inset;

            th {
                height: 32px;
                padding: 5px 15px 5px 10px;
                color: @text-secondary;
            }
        }

        tr.connections-item {
            border-bottom: 1px solid rgba(241, 246, 243, 0.15);
            color: @text-secondary;

            &:hover {
                background: rgba(255, 255, 255, 0.06);

                td.bookmark i {
                    display: block;
                }
            }

            td {
                height: 40px;
                padding: 5px 15px 5px 10px;
                vertical-align: middle;

                .action-buttons {
                    display: flex;
                    visibility: hidden;
                }
            }

            &.hovered {
                .action-buttons {
                    visibility: visible;
                }
            }
        }
    }

    .help-entry {
        margin: 1em 2em;
    }
}
