// Copyright 2024, Command Line Inc.
// SPDX-License-Identifier: Apache-2.0

.term-prompt {
    // we are explicitly *not* setting font size properties here so prompt will inherit from caller
    font-family: var(--termfontfamily);
    font-weight: normal;
    color: var(--term-gray);

    i {
        margin-right: 0.25em; // em for relative sizing
    }
}

.is-dark .term-prompt.term-prompt-color {
    .term-prompt-branch {
        color: var(--term-white);
    }

    .term-prompt-remote {
        color: var(--term-bright-green);
    }

    .term-prompt-shellmsg {
        color: var(--term-bright-green);
    }

    .term-prompt-cwd {
        color: var(--term-bright-green);
    }
    &.term-prompt-isroot .term-prompt-cwd {
        color: var(--term-red);
    }
}

.is-light .term-prompt.term-prompt-color {
    .term-prompt-branch {
        color: var(--term-black);
    }

    .term-prompt-shellmsg {
        color: var(--term-green);
    }

    .term-prompt-remote {
        color: var(--term-green);
    }

    .term-prompt-cwd {
        color: var(--term-green);
    }
    &.term-prompt-isroot .term-prompt-cwd {
        color: var(--term-red);
    }
}

.term-prompt.term-prompt-color {
    .term-prompt-python {
        color: var(--term-magenta);
    }

    .term-prompt-k8s {
        color: var(--term-magenta);
    }
}
