@font-face {
    font-family: "JetBrains Mono";
    src: url("/static/fonts/JetBrainsMono-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("/static/fonts/JetBrainsMono-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

.kbd-group {
    display: inline-flex;
    gap: 4px;
    align-items: center;
}

kbd {
    background-color: var(--ifm-color-primary-contrast-background);
    border-radius: 4px;
    border: 1px solid var(--ifm-color-secondary-darker);
    color: var(--ifm-color-primary-contrast-foreground);
    padding: 2px 6px;
    font-size: 0.8em;
    font-family: "JetBrains Mono", monospace;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    line-height: 24px;

    .spaced {
        letter-spacing: 0.2em;
    }
}

.kbd-group kbd.symbol {
    font-size: 0.8em;
    line-height: 24px;
}
