@import "@/common/themes/themes.less";

.cmd-input {
    max-height: max(300px, 40%);
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: var(--termfontsize);
    z-index: 100;
    border-top: 1px solid var(--app-border-color);

    &.active {
    }

    &.has-info {
        padding-top: var(--termpad);
    }

    .focus-indicator {
        height: 90%;
        top: 5%;
        left: 4px;
    }

    &.has-history {
        padding-top: var(--termpad);
        height: max(300px, 40%);
    }

    &.has-remote {
        max-height: max(300px, 70%);
    }

    &.has-aichat {
        max-height: max(300px, 70%);
    }

    .remote-status-warning {
        display: flex;
        flex-direction: row;
        color: var(--cmdinput-warning-color);
        align-items: center;

        .button {
            margin-left: 10px;
        }
    }

    .input-minmax-control {
        position: absolute;
        top: 5px;
        right: 5px;
        color: var(--app-text-color);

        padding: 5px;
        cursor: pointer;
    }

    .cmd-input-grow-spacer {
        flex-grow: 1;
    }

    .cmd-input-context {
        color: #fff;
        white-space: nowrap;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .cmd-input-filter {
        opacity: 0.5;
        &:hover {
            opacity: 1;
        }

        .avatar {
            display: inline-block;
            width: 1em;
            height: 1em;
            margin: 0 0.5em;
            vertical-align: text-top;
            fill: var(--app-text-color);
        }

        .warning {
            fill: var(--cmdinput-warning-color);
        }
    }

    .cmd-input-field {
        position: relative;
        padding-right: var(--termpad);
        font-family: var(--termfontfamily);
        font-weight: normal;
        line-height: var(--termlineheight);
        font-size: var(--termfontsize);

        .cmd-hints {
            position: absolute;
            bottom: -14px;
            right: 0px;
        }
        .control {
            padding: 1em 2px;
        }

        .textareainput-div {
            position: relative;

            &.control {
                padding: var(--termpad) 0;
            }

            .shelltag {
                position: absolute;
                // 13px = 10px height + 3px padding.  subtract termpad to account for textareainput-div padding
                bottom: calc(-13px + var(--termpad));
                right: 0px;
                font-size: 10px;
                color: var(--app-text-secondary-color);
                line-height: 1;
                padding: 0px 8px 3px 8px;
                background-color: var(--cmdinput-textarea-bg);
                border-radius: 0 0 5px 5px;
            }
        }

        textarea {
            color: var(--app-text-primary-color);
            background-color: var(--cmdinput-textarea-bg);
            padding: var(--termpad);
            resize: none;
            overflow: auto;
            overflow-wrap: anywhere;
            border-color: transparent;
            border: none;
            line-height: var(--termlineheight);
            font-size: var(--termfontsize);

            &.display-disabled {
                background-color: #444;
            }

            &:focus {
                box-shadow: none;
                border: none;
            }
        }

        input.history-input {
            border: 0;
            padding: 0;
            height: 0;
        }

        .cmd-quick-context .button {
            background-color: #000 !important;
            color: var(--app-text-color);
        }

        &.inputmode-global .cmd-quick-context .button {
            color: var(--app-black);
            background-color: var(--cmdinput-button-bg-color) !important;
        }

        &.inputmode-comment .cmd-quick-context .button {
            color: var(--app-black);
            background-color: var(--cmdinput-comment-button-bg-color) !important;
        }

        .cmd-exec {
            position: absolute;
            right: 0;
            .icon {
                vertical-align: bottom;
                margin-right: 1em;
                width: 2.5em;
                height: 2.5em;
                cursor: pointer;
                border-radius: 50%;
                fill: var(--app-accent-color);
                padding: 0.25em;
            }
            .icon.disabled {
                fill: var(--cmdinput-disabled-icon-color);
                cursor: default;
            }
            .cmd-btn {
                display: inline-block;
                margin-right: 0;
                padding: 0.2em 0.7rem;
                border-radius: 4px;
                vertical-align: super;

                .hint-elem {
                    cursor: pointer;
                    opacity: 0.5;

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }

    .cmd-aichat {
        display: flex;
        justify-content: flex-end;
        flex-flow: column nowrap;
        margin-bottom: 10px;
        flex-shrink: 1;
        overflow-y: auto;

        .chat-window {
            overflow-y: auto;
            margin-bottom: 5px;
            flex-shrink: 1;
            flex-direction: column-reverse;
        }

        .chat-textarea {
            color: var(--app-text-primary-color);
            background-color: var(--cmdinput-textarea-bg);
            padding: 0.5em;
            resize: none;
            overflow: auto;
            overflow-wrap: anywhere;
            border-color: transparent;
            border: none;
            font-family: var(--termfontfamily);
            font-weight: normal;
            flex-shrink: 0;
            flex-grow: 1;
            border-radius: 4px;

            &:focus {
                box-shadow: none;
                border: none;
                outline: none;
            }
        }

        .chat-msg {
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .chat-msg-assistant {
            color: var(--app-text-color);
        }

        .chat-msg-user {
            .msg-text {
                font-family: @markdown-font;
                font-size: 14px;
                white-space: pre-wrap;
            }
        }

        .chat-msg-error {
            color: var(--cmdinput-text-error);
            font-family: @markdown-font;
            font-size: 14px;
        }

        .grow-spacer {
            flex: 1 0 10px;
        }
    }

    .cmd-history {
        color: var(--app-text-color);
        margin-bottom: 5px;
        overflow: auto;
        flex-shrink: 1;

        .history-title {
            position: absolute;
            z-index: 102;
            top: 5px;
            left: 20px;
            background-color: var(--cmdinput-history-bg-color);
            color: var(--cmdinput-history-title-color);
            padding-bottom: 4px;
            display: flex;
            flex-direction: row;
            width: calc(100% - 40px);
            overflow-x: auto;

            .history-opt {
                white-space: nowrap;
            }

            .history-clickable-opt {
                white-space: nowrap;
                cursor: pointer;
            }

            .grow-spacer {
                flex: 1 0 10px;
            }

            .spacer {
                flex: 0 0 10px;
            }
        }

        .history-items {
            margin-top: 24px;
            color: var(--app-text-color);

            padding-bottom: 6px;

            .history-line {
                white-space: pre;
            }

            .history-item.history-haderror {
                color: var(--cmdinput-history-item-error-color);
            }

            .history-line:first-child {
                margin-left: 0 !important;
            }

            .history-item {
                padding-left: 5px;
                cursor: pointer;

                &:hover {
                    background-color: #222;
                }
            }

            .history-item.is-selected {
                font-weight: bold;
                color: var(--app-text-primary-color);
                background-color: #444;
            }

            .history-item.is-selected.history-haderror {
                color: var(--cmdinput-history-item-selected-error-color);
            }
        }
    }

    .cmd-input-info {
        flex-shrink: 1;
        overflow-y: auto;
        margin-bottom: var(--termpad);

        .info-msg {
            color: var(--cmdinput-history-title-color);
            padding-bottom: 2px;

            a {
                color: var(--prompt-blue);
            }
        }

        .info-lines {
            color: var(--app-text-color);
            white-space: pre;
            padding-bottom: 6px;
        }

        .info-comps {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding-bottom: 5px;
            font-weight: normal;
            font-family: var(--termfontfamily);
            font-size: var(--termfontsize);

            .info-comp {
                min-width: 200px;
                color: var(--app-text-color);
                margin-right: 10px;

                &.has-space {
                    text-decoration: underline dotted #777;
                }
            }

            .metacmd-comp {
                color: var(--prompt-bright-green);
            }
        }

        .info-error {
            color: var(--cmdinput-text-error-color);
            padding-bottom: 2px;
        }

        .info-remote-showall {
            table.remotes-table {
                th {
                    color: var(--app-text-color);
                    font-weight: bold;
                }

                th,
                td {
                    padding: 3px 8px 3px 8px;
                }

                td {
                    cursor: pointer;
                }

                tr:hover td {
                    background-color: #333;
                }
            }
        }

        .info-remote {
            color: #d3d7cf;

            .info-remote-title {
                font-weight: bold;
                color: var(--cmdinput-remote-title-color);
            }

            .info-error,
            .info-msg {
                margin-top: 5px;
                padding: 5px;
            }

            .remote-field {
                display: flex;
                flex-direction: row;

                .remote-field-def {
                    white-space: pre;
                    width: 120px;
                }

                .remote-field-val {
                    white-space: pre;
                    display: flex;
                    flex-direction: row;
                }
            }

            .remote-input-field {
                display: flex;
                flex-direction: row;
                height: 25px;
                align-items: center;

                .remote-field-label {
                    white-space: pre;
                    width: 140px;
                    font-weight: bold;
                    color: var(--app-text-primary-color);
                }

                .undo-icon {
                    margin-left: 4px;
                    cursor: pointer;
                    padding: 2px;
                }

                .remote-field-control {
                    &.text-input {
                        input[type="text"],
                        input[type="number"],
                        input[type="password"] {
                            background-color: var(--app-black);
                            color: var(--app-text-color);
                            width: 200px;
                        }
                    }

                    &.checkbox-input {
                        input[type="checkbox"] {
                            position: relative;
                            top: 3px;
                        }
                    }

                    &.select-input {
                        select {
                            width: 200px;
                            background-color: var(--app-black);
                            color: var(--app-text-color);
                        }
                    }
                }
            }
        }

        .info-remote-showall {
            color: #d3d7cf;
        }
    }
}
