body {
    height: 100vh;
    padding: 0;
    overflow: auto;
}

#storybook-root {
    height: 100%;
}

.grid-item {
    background-color: aquamarine;
    border: 1px black solid;

    &.react-grid-placeholder {
        background-color: orange;
    }
}
