// Copyright 2024, Command Line Inc.
// SPDX-License-Identifier: Apache-2.0

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    min-height: 0;
    position: relative;

    .block-content {
        display: flex;
        flex-grow: 1;
        width: 100%;
        overflow: hidden;
        min-height: 0;
        padding: 5px;
    }

    .block-header-animation-wrap {
        max-height: 0;
        transition:
            max-height 0.3s ease-out,
            opacity 0.3s ease-out;
        overflow: hidden;
        position: absolute;
        top: 0;
        width: 100%;
        height: 30px;
        z-index: var(--zindex-header-hover);

        &.is-showing {
            max-height: 30px;
        }
    }
}

.block-header {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    height: 30px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--panel-bg-color);
    user-select: none;
    -webkit-user-select: none;
    cursor: default;

    .block-header-icon {
        font-size: 20px;
        padding: 0 5px;
    }

    .block-header-text {
        padding: 0 5px;
        flex-grow: 1;
    }

    .close-button {
        font-size: 12px;
        padding-right: 5px;
        &:hover {
            cursor: pointer;
        }
    }
}
