@term-black: #000000;
@term-red: #cc0000;
@term-green: #4e9a06;
@term-yellow: #c4a000;
@term-blue: #3465a4;
@term-magenta: #75507b;
@term-cyan: #06989a;
@term-white: #d3d7cf;
@term-bright-black: #555753;
@term-bright-red: #ef2929;
@term-bright-green: #8ae234;
@term-bright-yellow: #fce94f;
@term-bright-blue: #32afff;
@term-bright-magenta: #ad7fa8;
@term-bright-cyan: #34e2e2;
@term-bright-white: #ffffff;

@tab-black: rgb(0, 0, 0);
@tab-red: rgb(205, 49, 49);
@tab-green: rgb(0, 177, 10);
@tab-orange: rgb(255, 199, 6);
@tab-yellow: rgb(229, 229, 16);
@tab-blue: rgb(36, 114, 200);
@tab-magenta: rgb(188, 63, 188);
@tab-cyan: rgb(17, 168, 205);
@tab-white: rgb(249, 249, 249);

@tab-black-text: #333;
@tab-white-text: #d7d7d7;

@soft-blue: #729fcf;

.mono-font(@size: inherit, @weight: inherit) {
    font-family: 'JetBrains Mono', monospace;
    font-size: @size;
    font-weight: @weight;
}

html, body, #main {
    background-color: #000;
}

#main {
    height: 100vh;
    display: flex;
    flex-direction: column;

    .main-content {
        display: flex;
        flex-direction: row;
        background-color: black;
        height: calc(100% - 45px);

        .session-view {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            min-width: 300px;
        }

        .screen-view {
            flex-grow: 1;
            border-right: 1px solid #ccc;
            position: relative;
        }

        .window-view {
            display: flex;
            flex-direction: column;
            position: relative;

            .window-tag {
                position: absolute;
                top: 0;
                right: 0;
                background-color: rgba(78, 154, 6, 0.65);
                color: black;
                padding: 2px 4px 2px 4px;
                border-bottom-left-radius: 5px;
                z-index: 10;
                font-size: 12px;

                &.is-active {
                    color: white;
                }
            }

            .window-empty {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                padding: 10px;
                height: 100%;
                color: #ccc;

                code {
                    background-color: black;
                    color: #4e9a06;
                }
            }
        }
    }
}

.screen-tabs {
    height: 30px;
    display: flex;
    flex-direction: row;
    border-top: 1px solid #666;
    border-right: 1px solid #eee;
    overflow-x: scroll;
    align-items: center;

    .screen-tab {
        height: 30px;
        min-width: 80px;
        width: 150px;
        flex-shrink: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        font-weight: bold;
        padding-left: 10px;
        padding-right: 10px;
        cursor: pointer;
        position: relative;
        border-right: 1px solid #777;
        opacity: 0.8;

        &.is-active {
            box-shadow: 0 3px 0 #fff inset;
            border-top: none;
            opacity: 1.0;
        }

        .tab-index {
            position: absolute;
            right: 5px;
            font-weight: normal;
            display: none;
        }
    }

    &:hover .screen-tab .tab-index {
        display: block;
    }

    .screen-tab.new-screen {
        width: 30px;
        min-width: 30px;
        background-color: black;
        border-right: none;
        color: #ccc;
        cursor: pointer;

        &:hover {
            background-color: #666;
            border-right: 1px solid #ccc;
        }
    }
}

.title.scripthaus-logo-small {
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 0;
    .mono-font(1.5rem);
    background-color: darken(rgb(0, 177, 10), 30%);
    color: rgb(0, 177, 10);
    position: relative;
    border-bottom: 2px solid #ddd;

    .title-cursor {
        position: absolute;
        left: 157px;
        bottom: 12px;
        color: rgb(0, 177, 10);
        .mono-font(1rem);
    }
}

.main-sidebar {
    border-right: 1px solid #aaa;
    padding: 0 5px 5px 5px;
    width: 200px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    color: #ddd;
    position: relative;
    background-color: darken(rgb(0, 177, 10), 30%);
    flex-shrink: 0;

    .menu {
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        height: 100%;

        .spacer {
            flex-grow: 1;
        }

        .bottom-spacer {
            height: 10px;
        }
    }

    .menu-label {
        color: #bbb;

        a {
            color: #bbb;
        }
        
        a:hover {
            color: #3273dc;
        }
    }

    p.menu-label {
        margin-bottom: 0px;
    }

    .menu-list {
        li.new-session, li.add-remote {
            a {
                color: #666;
                font-size: 13px;
            }
            
            .fa {
                font-size: 10px;
            }
        }
    }

    .menu-list.remotes-menu-list {
        max-height: 35%;
        overflow-y: auto;
    }

    .menu-list li.remote-menu-item {
        a {
            .mono-font(11px);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .menu-list li a {
        color: #bbb;
        white-space: nowrap;
        padding: 3px 5px 3px 12px;
        vertical-align: middle;
        position: relative;
        font-size: 13px;

        .user-status {
            position: absolute !important;
            top: 24px !important;
            left: 32px !important;
        }

        .avatar {
            width: 24px;
            height: 24px;
            margin-right: 5px;
            vertical-align: middle;
        }

        .session-num {
            color: #777;
            font-size: 10px;
        }

        &.is-active .small-text {
            color: white;
        }

        .small-text {
            color: #777;
            font-size: 10px;
        }

        &.is-active {
            color: #ddd;
            font-weight: bold;

            .session-num {
                color: #aaa;
                font-weight: normal;
            }
        }

        .sub-label {
            font-size: 12px;
            font-style: italic;
        }

        &.activity {
            font-weight: bold;
            color: #ddd;

            .tag {
                margin-left: 4px;
                padding: 0 5px 0 5px;
                position: relative;
                top: -1px;
            }
        }

        &.is-active:hover {
            background-color: #3273dc;
        }

        &:hover {
            background-color: #444;
            color: #ddd;
        }

        .status {
            font-size: 8px;
            margin-right: 5px;
            position: relative;
            top: -3px;
            color: #4e9a06;

            &.offline {
                color: #cc0000;
            }
        }
    }

    &.collapsed {
        width: 50px;

        .collapse-container {
            right: 12px;
        }

        .menu {
            display: none;
        }
    }

    .collapse-container {
        position: absolute;
        right: 3px;
        top: -4px;

        .arrow-container {
            color: #777;
            padding: 5px;
            cursor: pointer;

            &:hover {
                color: #ddd;
            }
        }
    }
}

.line.line-text {
    flex-direction: row;

    .line-content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .text {
            font-size: 1rem;
            color: #ddd;
        }
    }
}

.line.line-selected {
    &.line-focused {
        outline-left: 3px solid blue;
    }
}

.line.line-cmd {
    flex-direction: column;
    scroll-margin-bottom: 20px;
    
    .avatar {
        cursor: pointer;
    }

    .line-header {
        display: flex;
        flex-direction: row;
        
        .meta-wrap {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    &.focus {
        background-color: #000;
    }

    .terminal-wrapper {
        background-color: #000;
        padding: 2px 10px 5px 4px;
        margin-left: -4px;
        margin-right: 8px;
        margin-top: 4px;
        align-self: flex-start;

        &.focus {
            /* box-shadow: 0 0 3px 3px rgba(255, 255, 255, 0.3); */
        }

        .terminal-connectelem {
            overflow-y: hidden;
            overflow-x: hidden;
        }

        .terminal {
            margin-right: 8px; /* needed to show scrollbar */
        }

        &.cmd-done .terminal .xterm-cursor {
            display: none;
        }
    }
}

.cmd-input-info {
    .terminal-wrapper {
        position: relative;
        background-color: #000;
        padding: 2px 10px 5px 4px;
        margin: 5px 5px 10px 5px;
        box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.3);
        &.focus {
            box-shadow: 0 0 3px 3px rgba(255, 255, 255, 0.3);
        }

        .term-tag {
            position: absolute;
            top: 0;
            right: 0;
            background-color: @term-red;
            color: white;
            z-index: 10;
            padding: 4px;
            .mono-font(10px);
        }
    }
}

.line {
    margin: 0px 5px 5px 5px;
    padding: 10px 5px 5px 12px;
    display: flex;
    line-height: 1.25;
    border-top: 1px solid #777;
    overflow: hidden;
    flex-shrink: 0;
    position: relative;

    &:nth-child(2) {
        margin: 0px 5px 5px 5px;
        padding: 0px 5px 5px 12px;
        border-top: none;
    }

    .focus-indicator {
        position: absolute;
        display: none;
        width: 5px;
        border-radius: 3px;
        height: calc(100% - 20px);
        top: 10px;
        left: 0;
        z-index: 10;

        &.selected {
            display: block;
            background-color: #666;
        }

        &.active, &.active.selected {
            display: block;
            background-color: @tab-blue;
        }

        &.active.selected.fg-focus {
            display: block;
            background-color: @tab-green;
        }
    }

    .avatar {
        height: 38px;
        width: 38px;
        background-color: #555;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        color: white;
        font-size: 16px;
        margin-right: 10px;
        border-radius: 5px;
        position: relative;
        
        .status-icon {
            font-size: 8px;
            position: absolute;
            top: 2px;
            right: 2px;
        }

        &.num-4 {
            font-size: 13px;
        }

        &.num-5 {
            font-size: 11px;
        }

        &.num-6 {
            font-size: 9px;
        }

        &.status-done {
            background-color: #555;
        }

        &.ephemeral {
            opacity: 0.5;
            outline: 1px solid white;
        }

        &.status-error {
            .status-icon {
                color: #cc0000;
            }
        }

        &.status-hangup {
            .status-icon {
                color: #c4a000;
            }
        }

        &.status-running {
            background-color: @soft-blue;
        }

        &.status-detached {
            background-color: @soft-blue;
            .status-icon {
                top: 3px;
                right: 3px;
                color: white;
            }
        }
    }

    .meta {
        display: flex;
        flex-direction: row;
        font-size: 1rem;
        margin-top: -4px;
        
        .user {
            color: lighten(@soft-blue, 10%);
            font-weight: bold;
            margin-top: 1px;
            margin-right: 10px;
        }
        
        .ts {
            color: #ddd;
            margin-top: 5px;
            font-size: 12px;
        }
        
        .metapart-mono {
            color: #ddd;
            margin-left: 8px;
            margin-top: 4px;
            .mono-font(14px);
        }
        
        .cmdtext {
            color: #fff;
            font-size: 16px;
            font-weight: bold;
            overflow: hidden;
            margin-left: 0;
        }
    }
}

body .xterm .xterm-viewport {
    overflow-y: auto;
    width: calc(100% + 5px);
}

.terminal-wrapper {
    position: relative;
    
    .term-block {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: transparent;
        z-index: 10;
    }
}

.terminal-wrapper.focus .xterm {
    .xterm-screen {
        overflow-y: scroll;
        overscroll-behavior: contain;
    }

    .xterm-viewport {
        overscroll-behavior: contain;
    }
}

.cmd-input-info, .cmd-history {
    &::-webkit-scrollbar {
        background-color: #777;
        width: 5px;
        height: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background: white;
    }
}

.terminal-wrapper.focus .xterm-viewport {
    &::-webkit-scrollbar {
        background-color: #777;
        width: 5px;
        height: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background: white;
    }
}

.terminal-wrapper .xterm-viewport {
    &::-webkit-scrollbar {
        background-color: #222;
        width: 5px;
        height: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background: #555;
    }
}

.line.line-invalid {
    color: #000;
    margin-left: 5px;
}

.lines {
    display: flex;
    flex-direction: column;
    height: 80vh;
    overflow-y: scroll;
    padding: 10px 0 10px 0;
    flex-grow: 1;
    position: relative;

    .line:nth-child(2) {
        padding-top: 1px;
    }

    .lines-spacer {
        flex-grow: 1;
    }
}

.cmd-input {
    border-radius: 0;
    border-top: 2px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-bottom-right-radius: 10px;
    max-height: max(300px, 40%);
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 20px 20px 20px 20px;

    &.has-info {
        padding-top: 5px;
    }

    .focus-indicator {
        position: absolute;
        background-color: #666;
        width: 5px;
        border-radius: 3px;
        height: 90%;
        top: 5%;
        left: 4px;

        &.active {
            background-color: @tab-blue;
        }
    }

    &.has-history {
        padding-top: 5px;
        height: max(300px, 40%);
    }

    &.has-remote {
        max-height: max(300px, 70%);
    }

    .input-minmax-control {
        position: absolute;
        top: 5px;
        right: 5px;
        color: @term-white;
        font-size: 12px;
        padding: 5px;
        cursor: pointer;
    }

    .cmd-input-grow-spacer {
        flex-grow: 1;
    }

    .cmd-input-context {
        color: #fff;
        .mono-font();
    }

    .cmd-input-field {
        .cmd-input-control {
            line-height: 0;
        }
        
        textarea {
            color: white;
            background-color: black;
            .mono-font();
            padding-bottom: calc(0.5em - 1px);
            padding-top: calc(0.5em - 1px);

            &:active, &:focus {
                border-color: white !important;
            }

            &.display-disabled {
                background-color: #444;
            }
        }

        input.history-input {
            border: 0;
            padding: 0;
            height: 0;
        }

        .cmd-quick-context .button {
            .mono-font();
            background-color: #000 !important;
            color: white;
        }

        &.inputmode-global .cmd-quick-context .button {
            color: black;
            background-color: @tab-green !important;
        }

        &.inputmode-comment .cmd-quick-context .button {
            color: black;
            background-color: @tab-blue !important;
        }

        .cmd-exec .button {
            background-color: #000 !important;
            color: #d3d7cf;
        }
    }

    .cmd-history {
        color: @term-white;
        margin-bottom: 5px;
        overflow: auto;
        flex-shrink: 1;

        .history-title {
            position: absolute;
            z-index: 2;
            top: 5px;
            left: 20px;
            background-color: black;
            .mono-font(12px, 700);
            color: @soft-blue;
            padding-bottom: 4px;
            display: flex;
            flex-direction: row;
            width: calc(100% - 40px);
            overflow-x: auto;

            .history-opt {
                white-space: nowrap;
            }

            .history-clickable-opt {
                white-space: nowrap;
                cursor: pointer;
            }

            .grow-spacer {
                flex: 1 0 10px;
            }

            .spacer {
                flex: 0 0 10px;
            }
        }

        .history-items {
            margin-top: 24px;
            color: @term-white;
            .mono-font(12px);
            padding-bottom: 6px;

            .history-line {
                white-space: pre;
                margin-left: 58px; // 7.2px
            }

            &.show-remotes .history-line {
                margin-left: 173px;
            }

            &.show-remotes.show-sessions .history-line {
                margin-left: 295px;
            }

            .history-item.history-haderror {
                color: mix(@term-red, @term-white, 50%);
            }

            .history-line:first-child {
                margin-left: 0 !important;
            }

            .history-item {
                padding-left: 5px;
                cursor: pointer;

                &:hover {
                    background-color: #222;
                }
            }

            .history-item.is-selected {
                font-weight: bold;
                color: @term-bright-white;
                background-color: #444;
            }

            .history-item.is-selected.history-haderror {
                color: mix(@term-bright-red, @term-bright-white, 50%);
            }
        }
    }

    .cmd-input-info {
        flex-shrink: 1;
        overflow-y: auto;
        margin-bottom: 5px;
        
        .info-msg {
            .mono-font(14px, 400);
            color: @soft-blue;
            padding-bottom: 2px;
        }

        .info-title {
            .mono-font(14px, 700);
            color: @soft-blue;
            padding-bottom: 2px;
        }

        .info-lines {
            .mono-font(12px);
            color: @term-white;
            white-space: pre;
            padding-bottom: 6px;
        }

        .info-comps {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding-bottom: 5px;
            
            .info-comp {
                min-width: 200px;
                color: @term-white;
            }

            .metacmd-comp {
                color: @term-bright-green;
            }
        }

        .info-error {
            .mono-font(14px, 700);
            color: @term-red;
            padding-bottom: 2px;
        }

        .info-remote-showall {
            table.remotes-table {
                th {
                    color: white;
                    font-weight: bold;
                }
                
                th, td {
                    padding: 3px 8px 3px 8px;
                }

                td {
                    cursor: pointer;
                }

                tr:hover td {
                    background-color: #333;
                }
            }
        }

        .info-remote {
            color: #d3d7cf;
            .mono-font(12px);

            .info-remote-title {
                font-weight: bold;
                color: @term-cyan;
            }

            .info-error, .info-msg {
                margin-top: 5px;
                padding: 5px;
            }

            .remote-field {
                display: flex;
                flex-direction: row;

                .remote-field-def {
                    white-space: pre;
                    width: 120px;
                }
                
                .remote-field-val {
                    white-space: pre;
                    display: flex;
                    flex-direction: row;
                }
            }

            .remote-input-field {
                display: flex;
                flex-direction: row;
                height: 25px;
                align-items: center;

                .remote-field-label {
                    white-space: pre;
                    width: 140px;
                    font-weight: bold;
                    color: @term-bright-white;
                }

                .undo-icon {
                    margin-left: 4px;
                    cursor: pointer;
                    padding: 2px;
                }

                .remote-field-control {
                    &.text-control {
                    }

                    &.text-input {
                        input[type=text], input[type=number], input[type=password] {
                            background-color: black;
                            color: white;
                            width: 200px;
                        }
                    }

                    &.checkbox-input {
                        input[type=checkbox] {
                            position: relative;
                            top: 3px;
                        }
                    }

                    &.select-input {
                        select {
                            width: 200px;
                            background-color: black;
                            color: white;
                        }
                    }
                }
            }
        }

        .info-remote-showall {
            color: #d3d7cf;
            .mono-font(12px);
        }
    }
}

input[type=checkbox] {
    cursor: pointer;
}

.text-button {
    .mono-font(12px, 700);
    color: @term-white;
    cursor: pointer;
    background-color: #171717;
    outline: 2px solid #171717;

    &:hover, &:focus {
        color: @term-white;
        background-color: #333;
        outline: 2px solid #333;
    }
    
    &.connect-button {
        color: @term-green;
        &:hover {
            color: @term-green;
        }
    }
    
    &.disconnect-button {
        color: @term-red;
        &:hover {
            color: @term-red;
        }
    }

    &.success-button {
        color: @term-green;
        &:hover {
            color: @term-green;
        }
    }

    &.error-button {
        color: @term-red;
        &:hover {
            color: @term-red;
        }
    }

    &.grey-button {
        color: #666;
        &:hover {
            color: #666;
        }
    }

    &.disabled-button {
        &:hover, &:focus {
            outline: none;
            background-color: #171717;
        }
        cursor: default;
    }
}

.bold {
    font-weight: bold;
}

.term-black {
    color: @term-black;
}

.term-red {
    color: @term-red;
}

.term-green {
    color: @term-green;
}

.term-yellow {
    color: @term-yellow;
}

.term-blue {
    color: @term-blue;
}

.term-magenta {
    color: @term-magenta;
}

.term-cyan {
    color: @term-cyan;
}

.term-white {
    color: @term-white;
}

.term-bright-white {
    color: @term-bright-white;
}

.term-bright-green {
    color: @term-bright-green;
}

.term-bright-red {
    color: @term-bright-red;
}

#main .screen-tabs .screen-tab {
    &.color-green {
        color: @tab-black-text;
        background-color: desaturate(@tab-green, 30%);
        &:hover {
            background-color: @tab-green;
        }
        &.is-active {
            color: black;
            background-color: @tab-green;
        }
    }

    &.color-orange {
        color: @tab-black-text;
        background-color: desaturate(@tab-orange, 30%);
        &:hover {
            background-color: @tab-orange;
        }
        &.is-active {
            color: black;
            background-color: @tab-orange;
        }
    }

    &.color-red {
        color: @tab-black-text;
        background-color: desaturate(@tab-red, 20%);
        &:hover {
            background-color: @tab-red;
        }
        &.is-active {
            color: black;
            background-color: @tab-red;
        }
    }

    &.color-yellow {
        color: @tab-black-text;
        background-color: desaturate(@tab-yellow, 30%);
        &:hover {
            background-color: @tab-yellow;
        }
        &.is-active {
            background-color: @tab-yellow;
            color: black;
            box-shadow:
                0 3px 0 #fff inset,
                0 4px 0 #000 inset;
        }
    }

    &.color-blue {
        color: @tab-black-text;
        background-color: desaturate(@tab-blue, 20%);
        &:hover {
            background-color: @tab-blue;
        }
        &.is-active {
            color: black;
            background-color: @tab-blue;
        }
    }

    &.color-magenta {
        color: @tab-black-text;
        background-color: desaturate(@tab-magenta, 20%);
        &:hover {
            background-color: @tab-magenta;
        }
        &.is-active {
            color: black;
            background-color: @tab-magenta;
        }
    }

    &.color-cyan {
        color: @tab-black-text;
        background-color: desaturate(@tab-cyan, 20%);
        &:hover {
            background-color: @tab-cyan;
        }
        &.is-active {
            color: black;
            background-color: @tab-cyan;
        }
    }

    &.color-white {
        color: @tab-black-text;
        background-color: @term-white;
        &:hover {
            background-color: @tab-white;
        }
        &.is-active {
            color: black;
            background-color: @tab-white;
            box-shadow:
                0 3px 0 #fff inset,
                0 4px 0 #000 inset;
        }
    }

    &.color-black {
        color: @tab-white-text;
        background-color: lighten(@tab-black, 20%);
        &:hover {
            background-color: @tab-black;
        }
        &.is-active {
            color: white;
            background-color: @tab-black;
        }
    }
}

.monofont-thin {
    .mono-font(inherit, 200);
}

.monofont-normal {
    .mono-font(inherit, 400);
}

.monofont-bold {
    .mono-font(inherit, 700);
}

.sc-modal {
    .modal-content {
        padding: 10px;

        .message-header {
            font-size: 20px;
            margin-bottom: 10px;
        }

        .message-content {
            flex-grow: 1;
            max-height: 80%;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
        }

        .message-footer {
            border-top: 1px solid #666;
            padding-top: 15px;
            display: flex;
            flex-direction: row;
            justify-content: center;

            .spacer {
                flex-grow: 1;
            }
        }
    }
}

.remote-modal {
    .message-content {
        .table {
            th.status-header {
                width: 40px;
            }
            
            tbody td {
                vertical-align: middle;
            }
            
            .status-cell {
                .remote-status {
                    font-size: 16px;
                    top: 0;
                    margin-right: 0;
                }
                
                .status-text {
                    font-size: 12px;
                }
            }
        }
    }
}

.remote-status {
    font-size: 8px;
    margin-right: 5px;
    position: relative;
    top: -3px;
    color: #c4a000;

    &.status-init, &.status-disconnected {
        color: #c4a000;
    }

    &.status-connecting {
        color: #c4a000;
    }
    
    &.status-connected {
        color: #4e9a06;
    }
    
    &.status-error {
        color: #cc0000;
    }
}

.remote-field .remote-status {
    top: 4px;
}

.menu-list .remote-status.status-connecting {
    position: relative;
    top: 0px;
    font-size: 12px;
    margin-left: -3px;
}
