package main

import (
	"embed"
	"io/fs"
	"os"

	"github.com/wavetermdev/waveterm/tsunami/app"
)

//go:embed dist/**
var distFS embed.FS

//go:embed static/**
var staticFS embed.FS

func main() {
	subDistFS, _ := fs.Sub(distFS, "dist")
	subStaticFS, _ := fs.Sub(staticFS, "static")
	app.RegisterEmbeds(subDistFS, subStaticFS, nil)
	app.SetAppMeta(AppMeta)
	
	for _, arg := range os.Args[1:] {
		if arg == "--manifest" {
			app.PrintAppManifest()
			os.Exit(0)
		}
		if arg == "--tcp" {
			os.Setenv("TSUNAMI_TERMPROXY", "0")
		}
		if arg == "--termproxy" {
			os.Setenv("TSUNAMI_TERMPROXY", "1")
		}
	}

	app.RunMain()
}
