{
  "name": "tsunami-scaffold",
  "version": "1.0.0",
  "main": "index.js",
  "keywords": [],
  "license": "Apache-2.0",
  "description": "",
  "author": {
    "name": "Command Line Inc",
    "email": "info@commandline.dev"
  },
  "dependencies": {
    "@tailwindcss/cli": "^4.1.13",
    "tailwindcss": "^4.1.13"
  }
}
