name: Docsite and Storybook CI/CD

run-name: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' && 'Build and Deploy' || 'Test Build' }} Docsite and Storybook

env:
    NODE_VERSION: 22

on:
    push:
        branches:
            - main
    workflow_dispatch:
    # Also run any time a PR is opened targeting the docs or storybook resources
    pull_request:
        branches:
            - main
        types:
            - opened
            - synchronize
            - reopened
            - ready_for_review
        paths:
            - "docs/**"
            - "storybook/**"
            - "**/*.story.*"
            - "**/*.stories.*"
            - ".github/workflows/deploy-docsite.yml"
            - "Taskfile.yml"

jobs:
    build:
        name: Build Docsite
        runs-on: ubuntu-latest
        if: github.event.pull_request.draft == false
        steps:
            - uses: actions/checkout@v5
              with:
                  fetch-depth: 0
            - uses: actions/setup-node@v5
              with:
                  node-version: ${{env.NODE_VERSION}}
                  cache: npm
                  cache-dependency-path: package-lock.json
            - name: Install Task
              uses: arduino/setup-task@v2
              with:
                  version: 3.x
                  repo-token: ${{ secrets.GITHUB_TOKEN }}
            - uses: nick-fields/retry@v3
              name: npm ci
              with:
                  command: npm ci --no-audit --no-fund
                  retry_on: error
                  max_attempts: 3
                  timeout_minutes: 5
            - name: Build docsite
              run: task docsite:build:public
            - name: Upload Build Artifact
              # Only upload the build artifact when pushed to the main branch
              if: github.event_name == 'push' && github.ref == 'refs/heads/main'
              uses: actions/upload-pages-artifact@v3
              with:
                  path: docs/build
    deploy:
        name: Deploy to GitHub Pages
        # Only deploy when pushed to the main branch
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        needs: build
        # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
        permissions:
            pages: write # to deploy to Pages
            id-token: write # to verify the deployment originates from an appropriate source

        # Deploy to the github-pages environment
        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}

        runs-on: ubuntu-latest
        steps:
            - name: Deploy to GitHub Pages
              id: deployment
              uses: actions/deploy-pages@v4
