name: Deploy Docsite and Storybook

env:
    NODE_VERSION: 20

on:
    push:
        branches:
            - main
        # Review gh actions docs if you want to further define triggers, paths, etc
        # https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#on
    workflow_dispatch:

jobs:
    build:
        name: Build Docsite
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0
            - uses: actions/setup-node@v4
              with:
                  node-version: ${{env.NODE_VERSION}}
            - name: Install yarn
              run: |
                  corepack enable
                  yarn install
            - name: Build docsite
              run: yarn build
              working-directory: docs/

            - name: Build Storybook
              run: yarn build-storybook
            - name: Copy Storybook to docs
              run: cp -r storybook-static docs/build/storybook && cp -r assets docs/build/assets
            - name: Upload Build Artifact
              uses: actions/upload-pages-artifact@v3
              with:
                  path: docs/build
    deploy:
        name: Deploy to GitHub Pages
        needs: build
        # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
        permissions:
            pages: write # to deploy to Pages
            id-token: write # to verify the deployment originates from an appropriate source

        # Deploy to the github-pages environment
        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}

        runs-on: ubuntu-latest
        steps:
            - name: Deploy to GitHub Pages
              id: deployment
              uses: actions/deploy-pages@v4
