---
name: Merge Gatekeeper

on:
    pull_request_target:
        branches:
            - main
            - master
        types:
            - opened
            - synchronize
            - reopened
            - ready_for_review

jobs:
    merge-gatekeeper:
        runs-on: ubuntu-latest
        if: github.event.pull_request.draft == false
        # Restrict permissions of the GITHUB_TOKEN.
        # Docs: https://docs.github.com/en/actions/using-jobs/assigning-permissions-to-jobs
        permissions:
            checks: read
            statuses: read
        steps:
            - name: Run Merge Gatekeeper
              # NOTE: v1 is updated to reflect the latest v1.x.y. Please use any tag/branch that suits your needs:
              #       https://github.com/upsidr/merge-gatekeeper/tags
              #       https://github.com/upsidr/merge-gatekeeper/branches
              uses: upsidr/merge-gatekeeper@v1
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}
                  ignored: Build for TestDriver.ai, TestDriver.ai Run, Analyze (go), Analyze (javascript-typescript), License Compliance, CodeRabbit
